@import "wordpress";
@import "interface";
@import "utilities";

.nfd-onboarding-container {
	display: flex;
	background-color: var(--nfd-onboarding-canvas);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	overflow-y: auto;
}
