.nfd-onboarding-body {
	padding-top: 2rem !important;
}

/* Responsive scaling for 900px - 1200px */
@media (min-width: 900px) and (max-width: 1200px) {
	.nfd-onboarding-step-intro {
		max-width: 95%;
	}
}

/* Mobile layout below 900px */
@media (max-width: 899px) {
	.nfd-onboarding-fork-options > div {
		flex-direction: column !important;
		gap: 2rem !important;
		padding-top: 2rem !important;
	}
	.nfd-onboarding-fork-option {
		max-width: 100% !important;
		width: 100% !important;
	}
	.nfd-onboarding-fork-options .nfd-w-px {
		display: none !important;
	}
	.nfd-onboarding-step-intro {
		max-width: 100% !important;
	}
}
