.nfd-onboarding-start-setup {
    display: flex;
    width: 60vw;
    height: 70vh;
    background: var(--nfd-onboarding-light);
    position: relative;
    transform-style: preserve-3d;
    @media (min-width: #{ ($break-small) }) and (max-width: #{ ($break-medium - 1) })  {
        justify-items: center;
        align-items: center;
        padding: 30px;
    }

    &::before {
    content: "";
    background: var(--nfd-onboarding-dark-icon) no-repeat;
    @media (min-width: #{ ($break-small) }) and (max-width: #{ ($break-medium - 1) })   {
        width: 0vw;
        height: 0vh;
    }
    @media (min-width: #{ ($break-medium) }) {
        width: 45vw;
        height: 45vh;
        transform: rotate(-14deg) translateZ(-1px);
        position: absolute;
        margin-left: -22vh;
    }
    }
}