.nfd-card-need-help-tag {
	color: var(--nfd-onboarding-black);
	padding: 20px;
	font-weight: 200;
	text-align: center;
	font-style: italic;
	font-size: clamp(0.6rem, 1.5vw, 0.9rem);

	a {
		text-decoration: none;
		padding: 0 0.4rem;
	}

	@media (max-width: #{($break-medium)}) {
		padding: 9px;
	}

	@media (min-width: 2600px) {
		font-size: clamp(1.6rem, -0.09vw + 1rem, 1.78rem);
		font-weight: 450;
	}
}
