$border: #d6d6d6;
$letter-spacing: 0.5px;

.nfd-sg-input {
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100% !important;

	&-box {
		margin-bottom: 10px;
		border-bottom: 2px solid $border;

		&__field {
			padding-top: 10px;
			font-size: 1.5rem;
			background: transparent;
			letter-spacing: $letter-spacing;

			width: 100%;
			resize: none;
			border: none;
			max-height: 150px;
			color: var(--nfd-onboarding-primary);

			&:focus {
				box-shadow: none;
			}
		}

		&__hint {
			margin-top: 30px;
			font-weight: 300;
			font-size: 0.87rem;
			padding: 0 1.5px;
			letter-spacing: $letter-spacing;
			color: var(--nfd-onboarding-primary);

		}

		&__info {
			display: flex;
			margin-top: 30px;
			align-items: center;

			&-text {
				margin: 3px;
				margin-right: 8px;
				font-size: 0.87rem;
				color: var(--nfd-onboarding-primary);
			}

			&-icon {
				width: 10px;
				height: 6px;
				margin: 3px;
				border-radius: 6px;
				background-color: var(--nfd-onboarding-primary);

				&--selected {
					background-color: #1de082;
				}
			}
		}
	}

}
