.nfd-onboarding-toggle__theme {
	position: absolute;
	bottom: 25px;
	left: 25px;
	z-index: 1;

	&__button {
		width: 60px;
		height: 60px;
		cursor: pointer;

		&__light {
			animation: fadeIn 600ms ease-in-out;
			background: var(--sitegen-toggle-theme-icon-light);
		}

		&__dark {
			background: var(--sitegen-toggle-theme-icon-dark);
		}
	}
}
