.nfd-onboarding-toggle__darkmode {
	position: absolute;
	bottom: 25px;
	left: 25px;
	z-index: 999;

	&__button {
		background-image: var(--sitegen-toggle-theme-icon);
		width: 60px;
		height: 60px;
		cursor: pointer;
	}
}
