.nfd-onboarding-sitegen-options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__questionnaire {
		color: var(--nfd-onboarding-primary);
		font-weight: 500;
		text-align: center;
		font-size: 18px;
	}

	&__container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		&__options {
			flex: 1;
			min-width: 310px;
			height: 130px;
			border: 1px solid #9ca2a7;
			text-align: center;
			padding: 24px;
			padding-top: 50px;
			margin: 20px;
			border-radius: 16px;
			color: var(--nfd-onboarding-primary);
			font-size: 20px;

			&__span {
				background-color: var(--nfd-onboarding-white);
				color: rgb(6, 0, 0);
				padding-right: 6px;
				padding-left: 5px;
				margin-right: 5px;
				border: 1px solid #fff;
				border-radius: 8px;
			}
		}

		&__options:hover {
			background-color: rgba(6, 0, 0, 0.3);
			cursor: pointer;
			outline: 2px solid #9ca2a7;
			transition: 0.1s linear;
		}

		&__heading {
			color: var(--nfd-onboarding-primary);
			width: 96%;
			margin: 50px 0 50px;
			line-height: 1;

			&__title {
				font-weight: 510;
				text-align: center;
				color: var(--nfd-onboarding-primary);
				font-size: 20px;
				line-height: 20px;
			}

			&__subtitle {
				color: var(--nfd-onboarding-primary) !important;
				font-weight: 510;
				text-align: center;
				font-size: 14px;
				line-height: 16.71px;
			}
		}
	}
}
