.nfd-onboarding-sitegen-options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__questionnaire {
		color: var(--nfd-onboarding-primary);
		font-weight: 500;
		text-align: center;
		font-size: 20px;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		@media (max-width: #{ ($break-large) }) {
			flex-direction: column;
		}

		&__options {
			flex: 1;
			position: relative;
			min-width: 310px;
			height: 130px;
			border: 1px solid #9ca2a7;
			text-align: center;
			padding: 40px 24px;
			margin: 20px;
			border-radius: 16px;
			color: var(--nfd-onboarding-primary);
			font-size: 20px;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			transition: all 200ms ease-in-out;
			background-color: rgba(var(--nfd-onboarding-secondary-rgb), 0.25);

			@media (max-width: #{ ($break-large) }) {
				height: 60px;
				margin: 12px;
				padding: 12px;
				min-width: 85vw;
			}

			&__span {
				background-color: var(--nfd-onboarding-primary);
				color: var(--nfd-onboarding-secondary);
				padding-right: 6px;
				padding-left: 5px;
				margin-right: 5px;
				border: 1px solid var(--nfd-onboarding-primary);
				border-radius: 8px;
				font-size: clamp(15px, 17px, 19px);
				padding-top: 3px;
				padding-bottom: 2px;
			}

			&--badge {
				top: -12px;
				font-size: 16px;
				padding: 8px 12px;
				border-radius: 4px;
				position: absolute;
				background: linear-gradient(0deg, #f36, #f36);

			}
		}

		&__options:hover {
			cursor: pointer;
			outline: 2px solid #9ca2a7;
			box-shadow: 13px 18px 27px -6px rgba(0, 0, 0, 0.3);
			background-color: rgba(var(--nfd-onboarding-secondary-rgb), 0.5);
		}

		&__heading {

			&__title {
				font-weight: 600;
				font-size: 20px;
				line-height: 20px;
				text-align: center;
				margin-bottom: 10px;
				color: var(--nfd-onboarding-primary);

				@media (max-width: #{ ($break-large) }) {
					margin: 8px;
				}
			}

			&__subtitle {
				color: var(--nfd-onboarding-primary) !important;
				font-weight: 510;
				text-align: center;
				font-size: 14px;
				margin-top: 0;
			}
		}
	}
}
