.nfd-onboarding-step {

	&--site-gen {

		&__fork {
			
			&__importsite {
				color: var(--nfd-onboarding-white);
				font-weight: 510;
				text-align: center;
				font-size: 18px;
				line-height: 20px;
				margin-top: 35px !important;
			}
		}
	}
}
