.live-preview-sitegen--selectable-card {
	flex: 1;
	width: 420px;
	padding: 20px;
	display: flex;
	overflow: hidden;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	@media (min-width: #{ ($break-mobile) }) and (max-width: #{ ($break-wide) }) {
		width: 340px;
		padding: 15px;
	}

	@media (max-width: #{ ($break-mobile) }) {
		width: 300px;
		padding: 10px;
	}

	&__live-preview-container {
		position: relative;
		width: 100%;
		align-items: center;
		border-radius: 8px;

		.live-preview {

			&__container {

				&-custom {
					width: 100%;
					overflow: hidden;
					height: 315px;
					border-radius: 16px;
				}
			}
		}

		&__overlay {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 315px;
			z-index: 2;
			width: 100%;
			opacity: 0;
			transition: 0.5s ease;
			border-radius: 8px;

			.live-preview-sitegen--selectable-card & {
				background-color: var(--nfd-onboarding-card-overlay);
			}

			&__button {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 14px;
				padding: 6px 56px 6px 56px;
				border-radius: 8px;
				gap: 6px;
			}

			&:hover {
				cursor: pointer;
				opacity: 1;
			}
		}

		&-buttons {
			padding-top: 20px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			height: 40px;

			&__button {
				display: flex;
				justify-content: center;
				align-items: center;
				color: var(--nfd-onboarding-primary);
				gap: 8px;
				font-size: 16px;
				fill: var(--nfd-onboarding-primary);
				cursor: pointer;
			}
		}
	}
}
