.nfd-onboarding-step {

	&--site-gen {

		&__fork {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;

			@media (max-width: #{ ($break-large) }) {
				margin-bottom: 80px;
			}

			&__heading {
				color: var(--nfd-onboarding-primary);
				width: 96%;
				margin: 50px 0 50px;
				line-height: 1;

				&__questionnaire {
					color: var(--nfd-onboarding-primary);
					font-weight: 500;
					text-align: center;
					font-size: 18px;
				}
			}

			&__buttons {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				&__button {
					display: block;
					background-color: var(--nfd-onboarding-primary);
					color: var(--nfd-onboarding-secondary);
					text-align: center;
					width: 200px;
					height: 50px;
					font-size: 15px;
					margin: 24px;
				}
			}

			&__importsite {
				font-size: 18px;
				font-weight: 510;
				line-height: 20px;
				text-align: center;
				margin: 25px !important;
				color: var(--nfd-onboarding-primary);
				text-decoration: underline;
				cursor: pointer;
			}

			&__exit {
				cursor: pointer;
				text-decoration: underline;
				font-weight: 510;
				line-height: 20px;
				text-align: center;
				color: var(--nfd-onboarding-primary);

				&:hover {
					color: var(--nfd-onboarding-sitegen-link-color);
				}
			}
		}
	}
}
