.nfd-onboarding-step {

	&--site-gen {

		&__fork {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&__heading {
				color: var(--nfd-onboarding-primary);
				width: 96%;
				margin: 50px 0 50px;
				line-height: 1;

				&__title {
					font-weight: 300;
					text-align: center;
					color: var(--nfd-onboarding-white);
					margin: 35px !important;
					font-size: 30px;	
				}

				&__subtitle {
					color: var(--nfd-onboarding-white) !important;
					font-weight: 300;
					text-align: center;
					font-size: 20px;
				}

				&__questionnaire {
					color: var(--nfd-onboarding-white);
					font-weight: 500;
					text-align: center;
					font-size: 18px;
				}
			}
			&__questionnaire {
				color: var(--nfd-onboarding-white);
				font-weight: 500;
				text-align: center;
				font-size: 18px;
			}
			&__container{
				display: flex;
				justify-content: center;
				flex-wrap: wrap;

				&__options {
					flex: 1;
					min-width: 310px;
					height: 143px;
					border: 1px solid #9CA2A7;
					text-align: center;
					padding: 24px;
					padding-top: 45px;
					margin: 10px;
					border-radius: 16px;
					text-align: center;
					color: white;
					font-size: 20px;
				
					&__span {
						background-color: white;
						color: black;
						padding: 3px;
						padding-right: 5px;
						padding-left: 5px;
						margin-left: -5px;
						border: 1px solid #ffffff;
						border-radius: 8px;
					}
				
				}
			}
			&__buttons {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				&__button {
					display: block;
					background-color: var(--nfd-onboarding-primary);
					color: var(--nfd-onboarding-secondary);
					text-align: center;
					width: 200px;
					height: 50px;
					font-size: 15px;
					margin: 24px;
				}
			}
		}
	}
}
