$main-color-grey-other: #e2e2e2;

.live-preview {

	&__container {

		&-small {
			width: 70%;
			height: 70%;
			overflow: hidden;
			max-width: 320px;
			max-height: 320px;
		}

		&-large {
			width: 70%;
			min-height: 90vh;
			overflow: hidden;
			position: relative;
			align-items: center;
			border: 1px solid #e3dfdf;
			border-top: 0;
			margin-bottom: 30px;

			&:hover {
				cursor: not-allowed;
			}
		}

		&--is-skeleton {
			z-index: 1;
			width: 100%;
			height: 100%;
			display: flex;
			position: absolute;
			cursor: not-allowed;
			align-items: center;
			flex-direction: column;
			background-color: var(--nfd-onboarding-light-gray);

			&--box {
				width: 90%;
				margin: 12px;
				background: $main-color-grey-other;

				&-header {
					height: 10%;
				}

				&-body-1 {
					height: 40%;
				}

				&-body-2 {
					height: 15%;
				}

				&-footer {
					height: 5%;
				}
			}

			&--shimmer {
				z-index: 2;
				width: 100%;
				height: 100%;
				position: absolute;
				background-image: linear-gradient(90deg, rgba(var(--nfd-onboarding-white-rgb), 0) 0, rgba(var(--nfd-onboarding-white-rgb), 0.4) 20%, rgba(var(--nfd-onboarding-white-rgb), 0.6) 60%, rgba(var(--nfd-onboarding-white-rgb), 0.4) 90%, rgba(var(--nfd-onboarding-white-rgb), 0.02) 100%, var(--nfd-onboarding-light-gray));
			}
		}
	}
}
