.skip-button-top-priority {
    padding: 10px;
    cursor: pointer;
    font-weight: 200;
    font-style: italic;
}

.info-button-top-priority {
    margin: 16px;
    font-weight: 500;
    font-style: italic;
}
