body {


	// Default WP based Styles
	&.nfd-brand-wordpress {
		--wp-admin-theme-color: #007cba;
		--wp-admin-theme-color--rgb: 0, 124, 186;
		--wp-admin-theme-color-darker-10: #006ba1;
		--wp-admin-theme-color-darker-10--rgb: 0, 107, 161;
		--wp-admin-theme-color-darker-20: #1e1e1e;
		--wp-admin-theme-color-darker-20--rgb: 0, 30, 30;
		--nfd-onboarding-contrast-icon: url(../../Brands/wordpress/dark.svg);
		--nfd-onboarding-icon: url(../../Brands/wordpress/icon.svg);
		--nfd-onboarding-logo: url(../../Brands/wordpress/logo.svg);
		--nfd-onboarding-primary: var(--wp-admin-theme-color);
		--nfd-onboarding-highlighted--rgb: var(--wp-admin-theme-color-darker-10--rgb);
		--nfd-onboarding-primary-alt: var(--wp-admin-theme-color-darker-10);
		--nfd-onboarding-secondary: var(--wp-admin-theme-color-darker-10);
		--nfd-onboarding-secondary-alt: var(--wp-admin-theme-color-darker-20);
		--nfd-onboarding-tertiary: var(--nfd-onboarding-primary);
		--nfd-onboarding-tertiary-alt: var(--nfd-onboarding-primary-alt);
		--nfd-onboarding-light: #fff;
		--nfd-onboarding-light-gray: #f0f0f0;
		--nfd-onboarding-light-gray-2: #efefef;
		--nfd-onboarding-light-gray-3: #f2f2f2;
		--nfd-onboarding-light-gray-4: #a7a7a7;
		--nfd-onboarding-light-gray-5: #eee;
		--nfd-onboarding-light-gray-6: rgb(224, 224, 224);
		--nfd-onboarding-light-gray-7: #f6f7f8;
		--nfd-onboarding-light-gray-8: #ccc;
		--nfd-onboarding-light-gray-highlighted: #e2e9f4;
		--nfd-onboarding-dark: var(--wp-admin-theme-color-darker-20);
		--nfd-onboarding-border: 219, 219, 219;
		--nfd-onboarding-base: var(--nfd-onboarding-light);
		--nfd-onboarding-contrast: var(--nfd-onboarding-dark);
		--nfd-onboarding-drawer-base: var(--nfd-onboarding-dark);
		--nfd-onboarding-drawer-contrast: var(--nfd-onboarding-light);
		--nfd-onboarding-drawer-icon-fill: var(--nfd-onboarding-tertiary);
		--nfd-onboarding-drawer-icon-active-fill: var(--nfd-onboarding-light);
		--nfd-onboarding-loader-start: var(--nfd-onboarding-primary);
		--nfd-onboarding-loader-end: var(--nfd-onboarding-secondary);
		--nfd-onboarding-step-loader-icon: url(../../Brands/wordpress/step-loader-logo.svg);
		--nfd-onboarding-step-error-icon: url(../../Brands/wordpress/step-error-logo.svg);
		--nfd-onboarding-step-what-next-img-3: url(../../Brands/wordpress/full-service.png);
		--nfd-onboarding-step-what-next-img-1: url(../../Brands/wordpress/wp-admin.png);
		--nfd-onboarding-step-what-next-img-2: url(../static/images/help.png);
	}

	&.nfd-brand-bluehost,
	&.nfd-brand-bluehost-india {
		--wp-admin-theme-color: #3575d3;
		--wp-admin-theme-color--rgb: 53, 117, 211;
		--wp-admin-theme-color-darker-10: #1c5cba;
		--wp-admin-theme-color-darker-10--rgb: 28, 92, 186;
		--wp-admin-theme-color-darker-20: #0242a0;
		--wp-admin-theme-color-darker-20--rgb: 2, 66, 160;
		--nfd-onboarding-contrast-icon: url(../../Brands/bluehost/dark.svg);
		--nfd-onboarding-icon: url(../../Brands/bluehost/icon.svg);
		--nfd-onboarding-logo: url(../../Brands/bluehost/logo.svg);
		--nfd-onboarding-primary: #3575d3;
		--nfd-onboarding-highlighted--rgb: 123, 177, 253;
		--nfd-onboarding-primary-alt: #2c76dc;
		--nfd-onboarding-secondary: #495c77;
		--nfd-onboarding-secondary-alt: #304663;
		--nfd-onboarding-tertiary: #7bb1fd;
		--nfd-onboarding-tertiary-alt: #84c0fc;
		--nfd-onboarding-base: #fff;
		--nfd-onboarding-light-gray: #f0f0f0;
		--nfd-onboarding-light-gray-2: #efefef;
		--nfd-onboarding-light-gray-3: #f2f2f2;
		--nfd-onboarding-light-gray-4: #a7a7a7;
		--nfd-onboarding-light-gray-5: #eee;
		--nfd-onboarding-light-gray-6: rgb(224, 224, 224);
		--nfd-onboarding-light-gray-7: #f6f7f8;
		--nfd-onboarding-light-gray-8: #ccc;
		--nfd-onboarding-light-gray-highlighted: #e2e9f4;
		--nfd-onboarding-contrast: #1d2a3b;
		--nfd-onboarding-drawer-base: var(--nfd-onboarding-contrast);
		--nfd-onboarding-drawer-contrast: var(--nfd-onboarding-base);
		--nfd-onboarding-border: 219, 219, 219;
		--nfd-onboarding-drawer-icon-fill: var(--nfd-onboarding-tertiary);
		--nfd-onboarding-drawer-icon-active-fill: var(--nfd-onboarding-base);
		--nfd-onboarding-loader-start: var(--nfd-onboarding-primary);
		--nfd-onboarding-loader-end: var(--nfd-onboarding-tertiary);
		--nfd-onboarding-step-loader-icon: url(../../Brands/bluehost/step-loader-logo.svg);
		--nfd-onboarding-step-error-icon: url(../../Brands/bluehost/step-error-logo.svg);
		--nfd-onboarding-step-what-next-img-3: url(../../Brands/bluehost/bluesky.png);
		--nfd-onboarding-step-what-next-img-1: url(../../Brands/bluehost/wp-admin.png);
		--nfd-onboarding-step-what-next-img-2: url(../static/images/help.png);

		--nfd-onboarding-sidebar-learn-more-get-started-welcome-illustration: url(../../Brands/bluehost/learn-more-get-started-welcome.svg);
		--nfd-onboarding-sidebar-learn-more-get-started-wp-experience-illustration: url(../../Brands/bluehost/learn-more-get-started-wp-experience.svg);
		--nfd-onboarding-sidebar-learn-more-get-started-site-type-illustration: url(../../Brands/bluehost/learn-more-get-started-site-type.svg);
		--nfd-onboarding-sidebar-learn-more-ecommerce-address-illustration: url(../../Brands/bluehost/learn-more-ecommerce-address.svg);
		--nfd-onboarding-sidebar-learn-more-ecommerce-tax-info-illustration: url(../../Brands/bluehost/learn-more-ecommerce-tax-info.svg);
		--nfd-onboarding-sidebar-learn-more-ecommerce-products-illustration: url(../../Brands/bluehost/learn-more-ecommerce-products.svg);
		--nfd-onboarding-sidebar-learn-more-basic-info-illustration: url(../../Brands/bluehost/learn-more-basic-info.svg);
		--nfd-onboarding-sidebar-learn-more-design-theme-styles-illustration: url(../../Brands/bluehost/learn-more-design-theme-styles.svg);
		--nfd-onboarding-sidebar-learn-more-design-colors-illustration: url(../../Brands/bluehost/learn-more-design-colors.svg);
		--nfd-onboarding-sidebar-learn-more-design-typography-illustration: url(../../Brands/bluehost/learn-more-design-typography.svg);
		--nfd-onboarding-sidebar-learn-more-design-header-menu-illustration: url(../../Brands/bluehost/learn-more-design-header-menu.svg);
		--nfd-onboarding-sidebar-learn-more-design-homepage-illustration: url(../../Brands/bluehost/learn-more-design-homepage.svg);
		--nfd-onboarding-sidebar-learn-more-pages-illustration: url(../../Brands/bluehost/learn-more-pages.svg);
		--nfd-onboarding-sidebar-learn-more-site-features-illustration: url(../../Brands/bluehost/learn-more-site-features.svg);
		--nfd-onboarding-sidebar-learn-more-what-next-illustration: url(../../Brands/bluehost/learn-more-what-next.svg);
	}

	&.nfd-brand-hostgator {
		--wp-admin-theme-color: #2e93ee;
		--wp-admin-theme-color--rgb: 46, 147, 238;
		--wp-admin-theme-color-darker-10: #1485ec;
		--wp-admin-theme-color-darker-10--rgb: 20, 133, 236;
		--wp-admin-theme-color-darker-20: #1177d2;
		--wp-admin-theme-color-darker-20--rgb: 17, 119, 210;
		--nfd-onboarding-contrast-icon: url(../../Brands/hostgator/dark.svg);
		--nfd-onboarding-icon: url(../../Brands/hostgator/icon.svg);
		--nfd-onboarding-logo: url(../../Brands/hostgator/logo.svg);
		--nfd-onboarding-primary: #2e93ee;
		--nfd-onboarding-highlighted--rgb: 30, 32, 68;
		--nfd-onboarding-primary-alt: #3b97ff;
		--nfd-onboarding-secondary: #cdd8df;
		--nfd-onboarding-secondary-alt: #363636;
		--nfd-onboarding-tertiary: #ffcf00;
		--nfd-onboarding-tertiary-alt: #ff9144;
		--nfd-onboarding-base: #f5f6f8;
		--nfd-onboarding-light-gray: #f0f0f0;
		--nfd-onboarding-light-gray-2: #efefef;
		--nfd-onboarding-light-gray-3: #f2f2f2;
		--nfd-onboarding-light-gray-4: #a7a7a7;
		--nfd-onboarding-light-gray-5: #eee;
		--nfd-onboarding-light-gray-6: rgb(224, 224, 224);
		--nfd-onboarding-light-gray-7: #f6f7f8;
		--nfd-onboarding-light-gray-8: #ccc;
		--nfd-onboarding-contrast: #1e2044;
		--nfd-onboarding-drawer-base: var(--nfd-onboarding-contrast);
		--nfd-onboarding-drawer-contrast: var(--nfd-onboarding-base);
		--nfd-onboarding-border: 245, 246, 248;
		--nfd-onboarding-drawer-icon-fill: var(--nfd-onboarding-tertiary);
		--nfd-onboarding-drawer-icon-active-fill: var(--nfd-onboarding-base);
		--nfd-onboarding-loader-start: var(--nfd-onboarding-primary);
		--nfd-onboarding-loader-end: var(--nfd-onboarding-tertiary);
	}

	&.nfd-brand-webcom {
		--wp-admin-theme-color: #4b75fc;
		--wp-admin-theme-color--rgb: 75, 117, 252;
		--wp-admin-theme-color-darker-10: #2b5cfb;
		--wp-admin-theme-color-darker-10--rgb: 43, 92, 251;
		--wp-admin-theme-color-darker-20: #0b44fb;
		--wp-admin-theme-color-darker-20--rgb: 11, 68, 251;
		--nfd-onboarding-contrast-icon: url(../../Brands/webcom/dark.svg);
		--nfd-onboarding-icon: url(../../Brands/webcom/icon.svg);
		--nfd-onboarding-logo: url(../../Brands/webcom/logo.svg);
		--nfd-onboarding-primary: #4b75fc;
		--nfd-onboarding-highlighted--rgb: 13, 71, 251;
		--nfd-onboarding-primary-alt: #0d47fb;
		--nfd-onboarding-secondary: #d4dce1;
		--nfd-onboarding-secondary-alt: #171003;
		--nfd-onboarding-tertiary: #fed96a;
		--nfd-onboarding-tertiary-alt: #fec101;
		--nfd-onboarding-base: #fff;
		--nfd-onboarding-light-gray: #f0f0f0;
		--nfd-onboarding-light-gray-2: #efefef;
		--nfd-onboarding-light-gray-3: #f2f2f2;
		--nfd-onboarding-light-gray-4: #a7a7a7;
		--nfd-onboarding-light-gray-5: #eee;
		--nfd-onboarding-light-gray-6: rgb(224, 224, 224);
		--nfd-onboarding-light-gray-7: #f6f7f8;
		--nfd-onboarding-light-gray-8: #ccc;
		--nfd-onboarding-contrast: #000;
		--nfd-onboarding-drawer-base: var(--nfd-onboarding-contrast);
		--nfd-onboarding-drawer-contrast: var(--nfd-onboarding-base);
		--nfd-onboarding-border: 219, 219, 219;
		--nfd-onboarding-drawer-icon-fill: var(--nfd-onboarding-tertiary-alt);
		--nfd-onboarding-drawer-icon-active-fill: var(--nfd-onboarding-tertiary-alt);
		--nfd-onboarding-loader-start: var(--nfd-onboarding-primary);
		--nfd-onboarding-loader-end: var(--nfd-onboarding-tertiary);
	}

	&.nfd-brand-crazy-domains {
		--wp-admin-theme-color: #548224;
		--wp-admin-theme-color--rgb: 84, 130, 36;
		--wp-admin-theme-color-darker-10: #4c7520;
		--wp-admin-theme-color-darker-10--rgb: 76, 117, 32;
		--wp-admin-theme-color-darker-20: #43681d;
		--wp-admin-theme-color-darker-20--rgb: 67, 104, 29;
		--nfd-onboarding-contrast-icon: url(../../Brands/crazy-domains/icon-empty.svg);
		--nfd-onboarding-icon: url(../../Brands/crazy-domains/icon.svg);
		--nfd-onboarding-logo: url(../../Brands/crazy-domains/logo.svg);
		--nfd-onboarding-primary: var(--wp-admin-theme-color);
		--nfd-onboarding-highlighted--rgb: var(--wp-admin-theme-color-darker-10--rgb);
		--nfd-onboarding-primary-alt: var(--wp-admin-theme-color-darker-10);
		--nfd-onboarding-secondary: #c3cbd8;
		--nfd-onboarding-secondary-alt: #1d2a3b;
		--nfd-onboarding-tertiary: #196bde;
		--nfd-onboarding-tertiary-alt: #c77d1c;
		--nfd-onboarding-base: #fff;
		--nfd-onboarding-light-gray: #fcfff9;
		--nfd-onboarding-light-gray-2: #fcfff9;
		--nfd-onboarding-light-gray-3: #fcfff9;
		--nfd-onboarding-light-gray-4: #5c5c5c;
		--nfd-onboarding-light-gray-5: var(--nfd-onboarding-base);
		--nfd-onboarding-light-gray-6: rgb(224, 224, 224);
		--nfd-onboarding-light-gray-7: #f6f7f8;
		--nfd-onboarding-light-gray-8: #ccc;
		--nfd-onboarding-light-gray-highlighted: #e2e9f4;
		--nfd-onboarding-contrast: #1d2a3b;
		--nfd-onboarding-border: 219, 219, 219;
		--nfd-onboarding-drawer-icon-fill: var(--nfd-onboarding-light-gray-4);
		--nfd-onboarding-drawer-icon-active-fill: var(--nfd-onboarding-primary);
		--nfd-onboarding-loader-start: var(--nfd-onboarding-primary);
		--nfd-onboarding-loader-end: var(--nfd-onboarding-secondary);
		--nfd-onboarding-step-loader-icon: url(../../Brands/crazy-domains/step-loader-logo.svg);
		--nfd-onboarding-step-error-icon: url(../../Brands/crazy-domains/step-error-logo.svg);
		--nfd-onboarding-step-what-next-img-3: url(../../Brands/crazy-domains/full-service.png);
		--nfd-onboarding-step-what-next-img-1: url(../../Brands/crazy-domains/wp-admin.png);
		--nfd-onboarding-step-what-next-img-2: url(../static/images/help.png);

		--nfd-onboarding-drawer-base: var(--nfd-onboarding-base);
		--nfd-onboarding-drawer-contrast: var(--nfd-onboarding-contrast);
		--nfd-onboarding-content-base: var(--nfd-onboarding-base);

		.nfd-onboarding-drawer__toggle {
			background-color: transparent;

			&-button {
				background-color: transparent;
			}

			border-bottom: 1px solid #e0e0e0;

			&.is-open {
				border-bottom: none;
			}
		}

		.nfd-onboarding-drawer__panel {

			&-scroll-container {
				border-right: 1px solid #e0e0e0; // mirror header border.
			}

			&-site-title {
				color: var(--nfd-onboarding-light-gray-4);
			}

			&-menu-link {
				color: var(--nfd-onboarding-light-gray-4);

				&.active {
					background-color: var(--nfd-onboarding-drawer-base);
					color: var(--nfd-onboarding-primary);
					border-color: var(--nfd-onboarding-primary);
				}
			}

			.custom-palette {
				color: var(--nfd-onboarding-base);
			}

			.drawer-palette--button {
				border: 1px solid var(--nfd-onboarding-secondary);

				&:hover {
					background-color: var(--nfd-onboarding-primary);

					* {
						color: var(--nfd-onboarding-base);
					}
				}
			}
		}

		.nfd-onboarding-layout {

			&.is-bg-primary {
				background-color: var(--nfd-onboarding-base);
			}

			.checkbox-item--selected {
				background: rgba(var(--nfd-onboarding-highlighted--rgb), 0.05);
			}

			.tab-img {
				background-color: rgba(var(--nfd-onboarding-highlighted--rgb), 0.2);
			}
		}
	}
}
