body {

	&.nfd-brand-bluehost {
		--wp-admin-theme-color: #3575d3;
		--wp-admin-theme-color--rgb: 53, 117, 211;
		--wp-admin-theme-color-darker-10: #1c5cba;
		--wp-admin-theme-color-darker-10--rgb: 28, 92, 186;
		--wp-admin-theme-color-darker-20: #0242a0;
		--wp-admin-theme-color-darker-20--rgb: 2, 66, 160;
		--nfd-onboarding-dark-icon: url("../../Brands/bluehost/dark.svg");
		--nfd-onboarding-icon: url("../../Brands/bluehost/icon.svg");
		--nfd-onboarding-logo: url("../../Brands/bluehost/logo.svg");
		--nfd-onboarding-primary: #3575d3;
		--nfd-onboarding-highlighted--rgb: 123, 177, 253;
		--nfd-onboarding-primary-alt: #2c76dc;
		--nfd-onboarding-secondary: #495c77;
		--nfd-onboarding-secondary-alt: #304663;
		--nfd-onboarding-tertiary: #7bb1fd;
		--nfd-onboarding-tertiary-alt: #84c0fc;
		--nfd-onboarding-light: #fff;
		--nfd-onboarding-light-gray: #f0f0f0;
		--nfd-onboarding-light-gray-2: #efefef;
		--nfd-onboarding-light-gray-3: #f2f2f2;
		--nfd-onboarding-light-gray-4: #a7a7a7;
		--nfd-onboarding-light-gray-5: #eee;
		--nfd-onboarding-light-gray-highlighted: #e2e9f4;
		--nfd-onboarding-dark: #1d2a3b;
		--nfd-onboarding-border: 219, 219, 219;
		--nfd-onboarding-drawer-icon-fill: var(--nfd-onboarding-tertiary);
		--nfd-onboarding-drawer-icon-active-fill: var(--nfd-onboarding-light);
		--nfd-onboarding-loader-start: var(--nfd-onboarding-primary);
		--nfd-onboarding-loader-end: var(--nfd-onboarding-tertiary);
		--nfd-onboarding-step-loader-icon: url("../../Brands/bluehost/step-loader-logo.svg");
		--nfd-onboarding-step-error-icon: url("../../Brands/bluehost/step-error-logo.svg");
	}

	&.nfd-brand-hostgator {
		--wp-admin-theme-color: #2e93ee;
		--wp-admin-theme-color--rgb: 46, 147, 238;
		--wp-admin-theme-color-darker-10: #1485ec;
		--wp-admin-theme-color-darker-10--rgb: 20, 133, 236;
		--wp-admin-theme-color-darker-20: #1177d2;
		--wp-admin-theme-color-darker-20--rgb: 17, 119, 210;
		--nfd-onboarding-dark-icon: url("../../Brands/hostgator/dark.svg");
		--nfd-onboarding-icon: url("../../Brands/hostgator/icon.svg");
		--nfd-onboarding-logo: url("../../Brands/hostgator/logo.svg");
		--nfd-onboarding-primary: #2e93ee;
		--nfd-onboarding-highlighted--rgb: 30, 32, 68;
		--nfd-onboarding-primary-alt: #3b97ff;
		--nfd-onboarding-secondary: #cdd8df;
		--nfd-onboarding-secondary-alt: #363636;
		--nfd-onboarding-tertiary: #ffcf00;
		--nfd-onboarding-tertiary-alt: #ff9144;
		--nfd-onboarding-light: #f5f6f8;
		--nfd-onboarding-light-gray: #f0f0f0;
		--nfd-onboarding-light-gray-2: #efefef;
		--nfd-onboarding-light-gray-3: #f2f2f2;
		--nfd-onboarding-light-gray-4: #a7a7a7;
		--nfd-onboarding-light-gray-5: #eee;
		--nfd-onboarding-dark: #1e2044;
		--nfd-onboarding-border: 245, 246, 248;
		--nfd-onboarding-drawer-icon-fill: var(--nfd-onboarding-tertiary);
		--nfd-onboarding-drawer-icon-active-fill: var(--nfd-onboarding-light);
		--nfd-onboarding-loader-start: var(--nfd-onboarding-primary);
		--nfd-onboarding-loader-end: var(--nfd-onboarding-tertiary);
	}

	&.nfd-brand-webcom {
		--wp-admin-theme-color: #4b75fc;
		--wp-admin-theme-color--rgb: 75, 117, 252;
		--wp-admin-theme-color-darker-10: #2b5cfb;
		--wp-admin-theme-color-darker-10--rgb: 43, 92, 251;
		--wp-admin-theme-color-darker-20: #0b44fb;
		--wp-admin-theme-color-darker-20--rgb: 11, 68, 251;
		--nfd-onboarding-dark-icon: url("../../Brands/webcom/dark.svg");
		--nfd-onboarding-icon: url("../../Brands/webcom/icon.svg");
		--nfd-onboarding-logo: url("../../Brands/webcom/logo.svg");
		--nfd-onboarding-primary: #4b75fc;
		--nfd-onboarding-highlighted--rgb: 13, 71, 251;
		--nfd-onboarding-primary-alt: #0d47fb;
		--nfd-onboarding-secondary: #d4dce1;
		--nfd-onboarding-secondary-alt: #171003;
		--nfd-onboarding-tertiary: #fed96a;
		--nfd-onboarding-tertiary-alt: #fec101;
		--nfd-onboarding-light: #fff;
		--nfd-onboarding-light-gray: #f0f0f0;
		--nfd-onboarding-light-gray-2: #efefef;
		--nfd-onboarding-light-gray-3: #f2f2f2;
		--nfd-onboarding-light-gray-4: #a7a7a7;
		--nfd-onboarding-light-gray-5: #eee;
		--nfd-onboarding-dark: #000;
		--nfd-onboarding-border: 219, 219, 219;
		--nfd-onboarding-drawer-icon-fill: var(--nfd-onboarding-tertiary-alt);
		--nfd-onboarding-drawer-icon-active-fill: var(--nfd-onboarding-tertiary-alt);
		--nfd-onboarding-loader-start: var(--nfd-onboarding-primary);
		--nfd-onboarding-loader-end: var(--nfd-onboarding-tertiary);
	}
}
