body {
    --more-icon: url('../static/icons/more.svg');
    --reload-icon: url('../static/icons/reload.svg');
    --forward-icon: url('../static/icons/forward.svg');
    --back-icon: url('../static/icons/back.svg');
    --chevron-up-icon: url('../static/icons/chevron-up.svg');
    --chevron-down-icon: url('../static/icons/chevron-down.svg');
}
