body {
	--nfd-publish-icon: url(../static/icons/publish.svg);
	--nfd-selling-icon: url(../static/icons/sell.svg);
	--nfd-design-icon: url(../static/icons/design.svg);
	--more-icon: url(../static/icons/more.svg);
	--reload-icon: url(../static/icons/reload.svg);
	--forward-icon: url(../static/icons/forward.svg);
	--back-icon: url(../static/icons/back.svg);
	--chevron-up-icon: url(../static/icons/chevron-up.svg);
	--chevron-down-icon: url(../static/icons/chevron-down.svg);
	--default-logo-icon: url(../static/icons/default-logo.svg);
	--facebook-icon: url(../static/icons/social/facebook.svg);
	--twitter-icon: url(../static/icons/social/twitter.svg);
	--instagram-icon: url(../static/icons/social/instagram.svg);
	--linkedin-icon: url(../static/icons/social/linkedin.svg);
	--yelp-icon: url(../static/icons/social/yelp.svg);
	--youtube-icon: url(../static/icons/social/youtube.svg);
	--tiktok-icon: url(../static/icons/social/tiktok.svg);

	--get-started-content-img: url(../static/images/content.png);
	--get-started-design-img: url(../static/images/design.png);
	--get-started-features-img: url(../static/images/features.png);


	--chevron-left-icon: url(../static/icons/chevron-left.svg);
	--chevron-right-icon: url(../static/icons/chevron-right.svg);

	--site-features-analytics: url(../static/icons/site-features/analytics.svg);
	--site-features-bookingcalendar: url(../static/icons/site-features/bookingcalendar.svg);
	--site-features-email: url(../static/icons/site-features/email.svg);
	--site-features-filter: url(../static/icons/site-features/filter.svg);
	--site-features-form: url(../static/icons/site-features/form.svg);
	--site-features-lead: url(../static/icons/site-features/lead.svg);
	--site-features-search: url(../static/icons/site-features/search.svg);
	--site-features-security: url(../static/icons/site-features/security.svg);
	--site-features-share: url(../static/icons/site-features/share.svg);
	--site-features-wishlist: url(../static/icons/site-features/wishlist.svg);
}
