$header-height: 60px;

html.wp-toolbar {
	background: $white;
}

body {

	&:not(.is-fullscreen-mode) {
		opacity: 0;
	}

	&.is-fullscreen-mode {
		opacity: 1;
		transition: opacity ease-in 500ms;
	}

	&.dashboard_page_nfd-onboarding {

		@include wp-admin-reset(".nfd-onboarding-container");
	}

	// Common Components across Brands
	--nfd-onboarding-white: #fff;
	--nfd-onboarding-white-rgb: 255, 255, 255;
	--nfd-onboarding-black: #000;
	--nfd-onboarding-header-bg: var(--nfd-onboarding-light);
	--nfd-onboarding-header-fg: var(--nfd-onboarding-dark);
	--nfd-onboarding-content-bg: var(--nfd-onboarding-light);
	--nfd-onboarding-content-fg: var(--nfd-onboarding-dark);
	--nfd-onboarding-drawer-bg: var(--nfd-onboarding-dark);
	--nfd-onboarding-drawer-fg: var(--nfd-onboarding-light);
	--nfd-onboarding-footer-fg: var(--nfd-onboarding-dark);
	--nfd-onboarding-footer-bg: var(--nfd-onboarding-light);
}
