$header-height: 60px;
$nav-sidebar-width: 300px;

html.wp-toolbar {
	background: var(--nfd-onboarding-white);
}

body {
	--nfd-onboarding-icon: url(../../Brands/newfold/icon.svg);
	--nfd-onboarding-logo: url(../../Brands/newfold/logo.svg);
	--nfd-onboarding-primary: #dd5228;
	--nfd-onboarding-base: #f2f2f2;
	--nfd-onboarding-contrast: #1e2223;
	--nfd-onboarding-white: #fff;
	--nfd-onboarding-white-rgb: 255, 255, 255;
	--nfd-onboarding-black: #000;
	--nfd-onboarding-header-base: var(--nfd-onboarding-base);
	--nfd-onboarding-header-contrast: var(--nfd-onboarding-contrast);
	--nfd-onboarding-content-base: var(--nfd-onboarding-base);
	--nfd-onboarding-content-contrast: var(--nfd-onboarding-contrast);
	--nfd-onboarding-drawer-base: var(--nfd-onboarding-contrast);
	--nfd-onboarding-drawer-contrast: var(--nfd-onboarding-base);
	--nfd-onboarding-drawer-icon-fill: var(--nfd-onboarding-contrast);
	--nfd-onboarding-drawer-icon-active-fill: var(--nfd-onboarding-base);
	--nfd-onboarding-footer-contrast: var(--nfd-onboarding-contrast);
	--nfd-onboarding-footer-base: var(--nfd-onboarding-base);
	--nfd-onboarding-light-gray-5: #eee;

	&:not(.is-fullscreen-mode) {
		opacity: 0;
	}

	&.is-fullscreen-mode {
		opacity: 1;
		transition: opacity ease-in 500ms;
	}

	&.dashboard_page_nfd-onboarding {

		@include wp-admin-reset(".nfd-onboarding-container");
	}
}
