@keyframes fadeIn {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes shine {

	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

@keyframes shine-placeholder {

	0% {
		background-position: -468px 0;
	}

	100% {
		background-position: 468px 0;
	}
}

@keyframes dropdown {

	0% {
		transform: rotateX(-90deg);
	}

	70% {
		transform: rotateX(20deg);
	}

	100% {
		transform: rotateX(0deg);
	}
}

.is-centered {
	display: flex;
	place-content: center;
	place-items: center;
}

.is-vertically-centered {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.is-bg-primary {
	background-color: var(--nfd-onboarding-primary);
	color: var(--nfd-onboarding-light);
}

.center {
	text-align: center;
}

input::placeholder {
	font-size: 0.75rem;
	color: var(--nfd-onboarding-light-gray-4);
}
