@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.is-centered {
    display: flex;
    place-content: center;
    place-items: center;
}
.is-bg-primary {
    background-color: var(--nfd-onboarding-primary);
    color: var(--nfd-onboarding-light);
}