@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.is-centered {
	display: flex;
	place-content: center;
	place-items: center;
}
.is-vertically-centered {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.is-bg-primary {
	background-color: var(--nfd-onboarding-primary);
	color: var(--nfd-onboarding-light);
}

.center {
	text-align: center;
}
