@import "wordpress";
@import "interface";
@import "icons";
@import "branding";
@import "utilities";

// CSS for Components
@import "../components/Drawer/stylesheet";
@import "../components/Header/stylesheet";
@import "../components/Content/stylesheet";
@import "../components/Layouts/stylesheet";
@import "../components/MiniPreview/stylesheet";
@import "../components/Tooltip/stylesheet";
@import "../components/ImageUploader/stylesheet";
@import "../components/SocialMediaForm/stylesheet";
@import "../components/TextInput/stylesheet";
@import "../components/ExitToWordPress/stylesheet";
@import "../components/Accordion/stylesheet";
@import "../components/StepOverview/stylesheet";
@import "../components/NewfoldLargeCard/stylesheet";
@import "../components/SelectableCard/stylesheet";
@import "../components/SelectableCardList/stylesheet";
@import "../components/HeadingWithSubHeading/stylesheet";
@import "../components/Button/stylesheet";
@import "../components/CardHeader/stylesheet";
@import "../components/GenericHtml/stylesheet";
@import "../components/Sidebar/stylesheet";
@import "../components/Sidebar/components/LearnMore/stylesheet";
@import "../components/LivePreview/stylesheet";
@import "../pages/Steps/DesignColors/stylesheet";
@import "../pages/Steps/GetStarted/GetStartedExperience/stylesheet";
@import "../pages/Steps/Ecommerce/StepAddress/stylesheet";
@import "../components/Button/NavCardButton/stylesheet";

// CSS for Pages
@import "../pages/Steps/BasicInfo/stylesheet.scss";

.nfd-onboarding-container {
	display: flex;
	background-color: $white;

	@include break-small {
		bottom: 0;
		left: 0;
		min-height: calc(100vh - #{$admin-bar-height-big});
		position: absolute;
		right: 0;
		top: 0;
	}

	@include break-medium {
		min-height: calc(100vh - #{$admin-bar-height});
	}
}
