@import "wordpress";
@import "interface";
@import "icons";
@import "branding";
@import "utilities";

// CSS for Components
@import "../components/Drawer/stylesheet";
@import "../components/Header/stylesheet";
@import "../components/Content/stylesheet";
@import "../components/Layouts/stylesheet";
@import "../components/SkipButton/stylesheet";
@import "../components/Loaders/stylesheet";
@import "../components/MiniPreview/stylesheet";
@import "../components/Tooltip/stylesheet";
@import "../components/ImageUploader/stylesheet";
@import "../components/SocialMediaForm/stylesheet";
@import "../components/TextInput/stylesheet";
@import "../components/ExitToWordPress/stylesheet";
@import "../components/Accordion/stylesheet";
@import "../components/NewfoldLargeCard/stylesheet";
@import "../components/SelectableCard/stylesheet";
@import "../components/SelectableCardList/stylesheet";
@import "../components/HeadingWithSubHeading/stylesheet";
@import "../components/Button/stylesheet";
@import "../components/CardHeader/stylesheet";
@import "../components/NeedHelpTag/stylesheet";
@import "../components/Sidebar/stylesheet";
@import "../components/Sidebar/components/LearnMore/stylesheet";
@import "../components/LivePreview/stylesheet";
@import "../pages/Steps/DesignColors/stylesheet";
@import "../pages/Steps/GetStarted/GetStartedExperience/stylesheet";
@import "../components/Button/NavCardButton/stylesheet";
@import "../pages/Steps/Ecommerce/stylesheet";
@import "../components/ErrorState/stylesheet";
@import "../components/CheckboxTemplate/CheckboxItem/stylesheet";
@import "../components/CheckboxTemplate/CheckboxList/stylesheet";
@import "../components/CheckboxTemplate/CheckboxListSkeleton/stylesheet";
@import "../components/Sidebar/components/LearnMore/Skeleton/stylesheet";
@import "../components/Animate/stylesheet";
@import "../components/NewfoldInterfaceSkeleton/style";

// CSS for Pages
@import "../pages/Steps/BasicInfo/stylesheet";
@import "../pages/Steps/TopPriority/stylesheet";
@import "../pages/Steps/DesignHomepageMenu/stylesheet";
@import "../pages/Steps/GetStarted/Welcome/stylesheet";
@import "../pages/Steps/GetStarted/SiteTypeSetup/PrimarySite/stylesheet";
@import "../pages/Steps/GetStarted/SiteTypeSetup/SecondarySite/stylesheet";
@import "../pages/Steps/DesignThemeStyles/stylesheet";
@import "../pages/Steps/WhatNext/stylesheet";
@import "../pages/Steps/SitePages/stylesheet";
@import "../pages/Steps/DesignTypography/stylesheet";
@import "../pages/Steps/DesignHeaderMenu/stylesheet";

.nfd-onboarding-container {
	display: flex;
	background-color: var(--nfd-onboarding-white);

	@include break-small {
		bottom: 0;
		left: 0;
		min-height: calc(100vh - #{$admin-bar-height-big});
		position: absolute;
		right: 0;
		top: 0;
	}

	@include break-medium {
		min-height: calc(100vh - #{$admin-bar-height});
	}
}
