@import "wordpress";
@import "interface";
@import "icons";
@import "branding";
@import "utilities";

// CSS for Components
@import "../components/Drawer/stylesheet";
@import "../components/Header/stylesheet";
@import "../components/Content/stylesheet";
@import "../components/Layouts/stylesheet";
@import "../components/SkipButton/stylesheet";
@import "../components/Loaders/stylesheet";
@import "../components/MiniPreview/stylesheet";
@import "../components/Tooltip/stylesheet";
@import "../components/ImageUploader/components/ImageUploaderWithIcon/stylesheet";
@import "../components/SocialMediaForm/stylesheet";
@import "../components/TextInput/TextInputSiteBuild/stylesheet";
@import "../components/ExitToWordPress/stylesheet";
@import "../components/Accordion/stylesheet";
@import "../components/NewfoldLargeCard/stylesheet";
@import "../components/SelectableCard/stylesheet";
@import "../components/SelectableCardList/stylesheet";
@import "../components/Heading/HeadingWithSubHeading/stylesheet";
@import "../components/Button/stylesheet";
@import "../components/CardHeader/stylesheet";
@import "../components/NeedHelpTag/stylesheet";
@import "../components/Sidebar/stylesheet";
@import "../components/Sidebar/components/LearnMore/stylesheet";
@import "../components/LivePreview/stylesheet";
@import "../steps/DesignColors/stylesheet";
@import "../steps/GetStarted/GetStartedExperience/stylesheet";
@import "../components/Button/NavCardButton/stylesheet";
@import "../steps/Ecommerce/stylesheet";
@import "../components/ErrorState/stylesheet";
@import "../components/ErrorModal/stylesheet";
@import "../components/CheckboxTemplate/CheckboxItem/stylesheet";
@import "../components/CheckboxTemplate/CheckboxList/stylesheet";
@import "../components/CheckboxTemplate/CheckboxListSkeleton/stylesheet";
@import "../components/Sidebar/components/LearnMore/Skeleton/stylesheet";
@import "../components/Animate/stylesheet";
@import "../components/NewfoldInterfaceSkeleton/style";
@import "../components/Loaders/Chapter/Interstitial/stylesheet";
@import "../components/Grid/stylesheet";
@import "../components/ComingSoon/stylesheet";
@import "../components/AdminBar/stylesheet";
@import "../components/ProgressBar/stylesheet";
@import "../components/Button/ButtonDark/stylesheet";
@import "../components/ImageUploader/components/ImageUploaderWithText/stylesheet";
@import "../components/Button/ButtonNext/stylesheet";
@import "../components/Loaders/Spinner/stylesheet";
@import "../components/SiteGenPlaceholder/stylesheet";
@import "../components/Heading/AIHeading/stylesheet";
@import "../components/TextInput/TextInputSiteGen/stylesheet";
@import "../components/ToggleDarkMode/stylesheet";
@import "../components/Button/NextButtonSiteGen/stylesheet";
@import "../components/CardWithOptions/stylesheet";
@import "../components/Loaders/SiteGenLoader/stylesheet";

// CSS for Pages
@import "../steps/BasicInfo/stylesheet";
@import "../steps/TopPriority/stylesheet";
@import "../steps/DesignHomepageMenu/stylesheet";
@import "../steps/GetStarted/Welcome/stylesheet";
@import "../steps/GetStarted/SiteTypeSetup/PrimarySite/stylesheet";
@import "../steps/GetStarted/SiteTypeSetup/SecondarySite/stylesheet";
@import "../steps/DesignThemeStyles/stylesheet";
@import "../steps/WhatNext/stylesheet";
@import "../steps/SitePages/stylesheet";
@import "../steps/DesignFonts/stylesheet";
@import "../steps/DesignHeaderMenu/stylesheet";
@import "../steps/SiteFeatures/stylesheet";
@import "../steps/TheFork/stylesheet";
@import "../steps/SiteGen/Preview/stylesheet";
@import "../steps/SiteGen/SiteDetails/stylesheet";
@import "../steps/SiteGen/Experience/stylesheet";
@import "../steps/SiteGen/SiteLogo/stylesheet";
@import "../steps/SiteGen/Welcome/stylesheet";
@import "../steps/SiteGen/Building/stylesheet";

.nfd-onboarding-container {
	display: flex;
	background-color: var(--nfd-onboarding-white);

	@include break-small {
		bottom: 0;
		left: 0;
		min-height: calc(100vh - #{$admin-bar-height-big});
		position: absolute;
		right: 0;
		top: 0;
	}

	@include break-medium {
		min-height: calc(100vh - #{$admin-bar-height});
	}
}
