$sitegen-progress-blue: #3620f8;
$sitegen-progress-grey: #32373e;

.nfd-sitegen-progressbar {
	width: 100%;

	.nfd-sitegen-progressbar-container {
		background-color: $sitegen-progress-grey;
		height: 15px;
		width: 100%;
		border-radius: 0;
		overflow: hidden;
	}

	.nfd-sitegen-progressbar-fill {
		background-color: $sitegen-progress-blue;
		height: 100%;
	}
}