.nfd-onboarding-header {
	align-items: center;
	background-color: var(--nfd-onboarding-header-base);
	color: var(--nfd-onboarding-header-contrast);

	h2,
	h3,
	h4 {
		color: var(--nfd-onboarding-header-contrast);
	}
	display: flex;
	height: $header-height;
	box-sizing: border-box;
	width: 100%;
	justify-content: space-between;

	padding-right: $grid-unit-20;

	body.is-fullscreen-mode & {
		padding-left: $header-height;
		transition: padding-left 20ms linear;
		transition-delay: 80ms;

		@include reduce-motion("transition");

		@media (max-width: #{ ($break-xlarge) }) {
			padding-left: 4px;
		}
	}

	&__start,
	&__end {
		display: flex;
	}

	&__start {
		align-items: center;
		margin-left: $grid-unit-20;
	}

	&__center {
		display: flex;
		align-items: center;
		height: 100%;
		font-size: 20px;
		line-height: $grid-unit-30;

		&-dropdown-item {
			padding: 2px 2px;
			text-decoration: none;
			display: block;
			text-align: center;
		}

		&-input {
			max-width: 80px;
			text-align: center;
			border: none !important;
			color: var(--nfd-onboarding-header-contrast) !important;
			background-color: var(--nfd-onboarding-header-base) !important;
		}
	}

	&__end {
		justify-content: flex-end;
	}

	&__step-navigation {
		display: flex;
		column-gap: $grid-unit-10;
	}

	&__step-progress {

		&:-webkit-progress-inner-element {
			background-color: #999;
		}

		&:-moz-progress-bar,
		&:-webkit-progress-bar {
			background-color: var(--nfd-onboarding-primary);
		}
	}
}

.nfd-onboarding-skeleton.is-drawer-open {

	.nfd-onboarding-header {
		padding-left: 0;
		transition: padding-left 20ms linear;
		transition-delay: 0ms;

		@include reduce-motion("transition");
	}
}

.navigation-buttons {
	font-size: 14px;
	line-height: 40px;
	align-items: center;
	letter-spacing: 0.8px;
	display: flex !important;
	justify-content: space-evenly;
	border-radius: 2px !important;
	padding: 20px 14px !important;

	&_back {
		padding-right: 22px !important;
	}

	&_next {
		padding-left: 22px !important;
	}

	&_finish {
		padding-left: 22px !important;
	}

	@media screen and (max-width: #{ ($break-medium) }) {
		font-size: 13px;
		padding: 15px 10px !important;
	}

	&-editor {
		padding: 0 13px 0 13px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		cursor: pointer;
		height: 36px;
		background-color: var(--nfd-onboarding-navigation-back-background);
		color: var(--nfd-onboarding-primary);
		fill: var(--nfd-onboarding-primary);
		border-radius: 6px;

		&:hover {
			background-color: #ffffff;
			color: #272d30;
			fill: #272d30;
		}

		&__regenerate {
			@media (max-width: #{ ($break-xlarge) }) {
				display: none;
			}
		}

		&__customize {
			@media (max-width: #{ ($break-xlarge) }) {
				display: none;
			}
		}

		&__continue {
			@media (max-width: #{ ($break-xlarge) }) {
				content: 'Next';
			}
		   
			@media (min-width: #{ ($break-xlarge) }) {
				content: 'Save & Continue';
			}
		}
	}
}
