.nfd-setup-secondary-categories {
	width: 40vw;
	text-align: center;

	.nfd-card-category-wrapper {
		display: inline-flex;
		margin-bottom: 2rem;
		border-bottom: 2px solid #00568c;

		.category-scrolling-wrapper {
			width: 15vw;
			display: flex;
			justify-content: center;
		}
	}

	button {
		display: inline-block;
	}

	.categName {
		display: inline-block;
		color: black;
		font-size: 0.8rem;
		font-weight: 400;
		margin-top: 0;
		text-transform: uppercase;
	}

	.iconSiteType {
		background-repeat: no-repeat;
		display: inline-block;
		width: 1vw;
		height: 2vh;
		cursor: pointer;
	}

	.icon {
		width: 25px;
		height: 24px;
		display: inline-block;
		background-repeat: no-repeat;
	}

	.subCategoriesSection {
		// color: black;
		// padding: 1rem;
		// background-color: var(--nfd-onboarding-light-gray-3);
		// margin: auto 0rem 1rem 1rem;
		// cursor: pointer;
	}
}

// .nfd-card-category-label {
// 	color: var(--nfd-onboarding-black);
// 	padding: 1rem;
// 	display: inline-block;
// 	background-color: var(--nfd-onboarding-light-gray-3);
// 	margin: auto 0rem 1rem 1rem;
// 	border-radius: 2.5rem;
// 	height: 10px;
// }

// .blackText {
// 	color: var(--nfd-onboarding-black);
// 	font-size: 1rem;
// 	font-weight: 700;
// 	margin-top: 2rem;
// }

// .tellUsInput {
// 	width: 30vw;
// 	margin: 0 1rem 1rem;
// 	height: 4vh;
// }
