$border: #D6D6D6;
$font: var(--nfd-onboarding-primary-font);

.social-form {
    width: 95%;
    padding: 12px;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid $border;

    &__top-row {
        display: flex;
        cursor: pointer;
        align-items: center;
        padding-bottom: 12px;
        justify-content: space-between;

        &_heading {
            font-size: 1rem;
            font-weight: 500;
            font-family: $font;
        }

        &_icon {
            width: 24px;
            height: 24px;
            text-align: center;
            background-position: center;
            background-repeat: no-repeat;
            background-clip: padding-box;
            background-image: var(--chevron-down-icon);

            &_opened {
                background-image: var(--chevron-up-icon);
            }
        }
    }

    &__label{
        display: flex;
        padding-top: 12px;
        padding-bottom: 6px;
        align-items: center;
        justify-content: flex-start;
        
        &_icon {
            width: 20px;
            height: 20px;
            text-align: center;
            padding-right: 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-clip: padding-box;
        }

        &_name {
            font-size: 0.9rem;
            font-family: $font;
        }
    }

    &__box {
        width: 95%;
        border-radius: 2px;
        margin: 6px 12px 0px 8px;
        border: 1px solid $border;
    }
}
