.nfd-onboarding-step--site-gen__preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 1300px;

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 500px;
        padding-top: 50px;

        &__heading {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 0;
            justify-content: center;
            align-items: center;

            &__text {
                color: var(--nfd-onboarding-primary);
                font-size: clamp(0.875rem, 0.6818rem + 0.9659vw, 3rem);
                margin-left: 15px;
                white-space: normal;
                line-height: 1;
            }
        }

        &__sub-heading {
            width: 100%;
            margin: 10px;
            padding: 0;
            // max-width: 500px;

            &__text {
                text-align: center;
                color: var(--nfd-onboarding-primary);
                font-size: clamp(0.875rem, 0.7727rem + 0.5114vw, 2rem);
                margin: 0;
                padding: 0;
            }
        }
    }

    &__options {
        flex: 1;
        display: flex;
        flex-direction: row;
        min-width: 130px;
        width: 100%;
        height: 400px;
        text-align: center;
        margin: 10px;
        // border-radius: 16px;
    }
}