.nfd-onboarding-step {
    &--site-gen {
     &__preview {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          &__context {
               text-align: center;
               color: var(--nfd-onboarding-primary);
               display: flex;
               flex-direction: column;
               width: 450px;
               justify-content: center;
               align-items: center;
               margin:16px 0px;
               &__heading {
                    font-size: 28px;
               }

               &__subheading {
                    font-size: 18px;
               }
          }

          &__live_previews {
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: center;
               width: 100%;
               height: 300px;
          }

          &__favorite-info {
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: center;
               background-color: var(--nfd-onboarding-preview-favorite-background);
               border-radius: 12px;
               margin:16px 0px;
               height: 54px;
               width: 559px;
               &__icon {
                    background-image: var(--sitegen-favorite);
                    height: 20px;
                    width: 20px;
                    margin-right: 18px;
               }

               &__text {
                    color: var(--nfd-onboarding-primary);
                    font-size: 16px;
               }
          }

          
     }
    }
}