/*COLOR VARIABLES*/

$main-color: #7BB1FD35;
$main-color-light: #FFFFFF;
$main-border-main: #1C5CBA;
$main-border-light: #DBDBDB;
$main-color-dark: #182127;;
$main-color-text-dark: #0D0D0D;

/*BORDER RADIUS*/
$radius: 0.2rem;

.nfd-card {
    display: flex;
    cursor: pointer;
    width: 290px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: none !important;

    &__top_row {
        width: 100%;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
    }

    &__body {
        height: 200px;
        padding: 8px;
        text-align: center;
        border-radius: 3px;
        margin-top: 50px;
        margin-right: 15px;
        padding-top: 20px;
        border-radius: $radius;
        border: 1px solid $main-border-light;
        background-color: $main-color-light;

        &_title {
            font-size: 24px;
            font-weight: 700;
            margin-top: 30px;
            line-height: 19px;
            font-style: normal;
            padding: 14px 0px 10px 0px;
            color: $main-color-text-dark;
            transition: color 300ms ease-in;
        }
        
        &_description {
            font-size: 15px;
            font-weight: 300;
            font-style: normal;
            text-align: center;
            font-family: 'Roboto';
            color: $main-color-text-dark;
        }
    }
    &__icon{
        flex: 1;
        display: flex;
        margin-top: 10px;
        margin-right: -25px;
        align-items: center;
        justify-content: center;

        &_box {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                text-align: center;
                background-position: center;
                background-repeat: no-repeat;
                background-clip: padding-box;
                background-color: $main-color-dark;
                border: 4px solid rgba(152, 152, 152, 0.175544);
            }
    }

    &__icon_selected{
        width: 40px;
        height: 40px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        margin-top: 20px;
        justify-content: center;
        background-clip: padding-box;
        background-color: $main-border-main;

        &_path {
                fill: $main-color-light;
                transform: scale(0.7);
            }
    }

    &__icon_unselected {
        width: 40px;
        height: 40px;
    }
}

.nfd-selected-card{
    background-color: $main-color !important;
    transition: all .2s ease-in-out;
}

.nfd-selected-card-box{
    transform: scale(1.05);
}

