.nfd-onboarding-live-preview {
     &--sitegen-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 24px;
          width: 100%;
          &__live-preview-container {
               position: relative;
               width: 90%;
               overflow: hidden;
               align-items: center;
               border-radius: 8px;
     
               &:hover {
                    cursor: pointer;
               }

               &__overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    z-index: 2;
                    width: 100%;
                    opacity: 0;
                    transition: 0.5s ease;
                    background-color: rgba(0,0,0, 1);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &__preview-button {
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         width: 250px;
                         height: 30px;
                         z-index: 9999;
                         border-radius: 12px;
                         background-color: var(--nfd-onboarding-primary);
                         opacity: 1;
                         &__icon {
                              fill: var(--nfd-onboarding-secondary);
                              font-size: 20px;
                              height: 20px;
                              width: 20px;
                              text-align: center;
                         }
                    }
     
                    &:hover {
                         cursor: pointer;
                         opacity: 0.74;
                    }
               }
     
               .live-preview {
     
                    &__container {
     
                         &-custom {
                              width: 100%;
                              overflow: hidden;
                              height: 300px;
                         }
                    }
               }
     
          }

          &__buttons {
               width: 90%;
               color: var(--nfd-onboarding-primary);
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               align-items: center;
               padding: 16px;
               &__favorite {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    &__icon {
                         width: 20px;
                         height: 20px;
                         margin-right: 12px;
                         cursor: pointer;

                         &__fill {
                              background-color: var(--nfd-onboarding-favorite-fill);
                         }

                    }

                    &__text {}
               }

               &__regenerate {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    &__icon {
                         background-image: var(--sitegen-regenerate);
                         width: 16px;
                         height: 18px;
                         margin-right: 12px;
                    }
               }
          }
     }
}