
.nfd-main-heading {
	width: 96%;
	margin: 50px 0 50px;
	line-height: 1;

	&__title {
		font-weight: 700;
		text-align: center;
		color: var(--nfd-onboarding-primary);
		margin: 35px !important;
		font-size: clamp(1.6rem, 4vw, 3.6rem);
	}

	&__subtitle {
		color: var(--nfd-onboarding-black);
		font-weight: 400;
		text-align: center;
		font-size: clamp(0.85rem, 3.2vw, 1.7rem);
	}
}
