/*COLOR VARIABLES*/
$black: var(--nfd-onboarding-black);
$font: var(--nfd-onboarding-primary-font);
$primary-color: var(--nfd-onboarding-primary);

.nfd-main-heading{
    width: 100vw;

    &__title{
        color: $black;
        font-weight: 700;
        text-align: center;
        font-family: $font;
        margin: 50px !important;
        font-size: clamp(2.2rem, 4.5vw, 4rem);
    }

    &__subtitle{
        color: $black;
        font-weight: 600;
        text-align: center;
        font-family: $font;
        font-size: clamp(1.2rem, 3.5vw, 2rem);
    }

    &__subtitle-color{
        font-weight: 400;
        text-align: center;
        font-family: $font;
        color: $primary-color;
        font-size: clamp(1.2rem, 3.5vw, 2rem);

    }
}
