/*COLOR VARIABLES*/
$primary-color: #3575D2;
$white: #FFFFFF;
$black: #000000;

.heading-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 19px;
    text-align: center;
    color: $black;
    margin: 35px !important;
}

.heading-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 19px;
    text-align: center;
    color: $black;
}

.heading-mainsubtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 19px;
    text-align: center;
    color: $primary-color;
}
