.nfd-onboarding-sidebar {
     &--sitegen-editor-patterns {
          .components-panel__header {
               padding: 0px;
          }
          padding: 0 !important;
          border: none;
          overflow-y: auto;
          width: 100%;
          height: 100%;
     
          background-color: #fff;
     
          &__header {
     
               &__icon {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 20px;
               }

               &__tab-panel {
                    font-size: 13px;
                    width: 300px;
                    &__favorites-tab {
                         display: flex;
                         flex-direction: row;
                         align-items: center;
                         justify-content: center;

                         &__icon {
                              background-image: var(--sitegen-favorite-filled);
                              width: 20px;
                              height: 21px;

                              margin-right: 8px;
                         }
                    }

                    &__versions-tab {
                         font-size: 13px;
                         &__preview-container {
                              height: 175px;
                              margin: 24px;

                              .live-preview {
     
                                   &__container {
                    
                                        &-custom {
                                             width: 100%;
                                             overflow: hidden;
                                             height: 140px;
                                             border-radius: 8px;
                                             cursor: pointer;
                                             border: 1px solid #cccccc;

                                             &__highlighted {
                                                  width: 100%;
                                                  overflow: hidden;
                                                  height: 140px;
                                                  border-radius: 8px;
                                                  cursor: pointer;
                                                  border: 3px solid #0060F0;
                                             }
                                        }
                                   }
                              }

                              &__context {
                                   display: flex;
                                   flex-direction: row;
                                   justify-content: flex-start;
                                   align-items: center;
                                   color: #000;

                                   &__icon {
                                        background-image: var(--sitegen-favorite);
                                        height: 21px;
                                        width: 20px;
                                        margin-right: 12px;
                                        cursor: pointer;

                                        &__fill {
                                             background-image: var(--sitegen-favorite-filled);
                                        }
                                   }
                              }
                         }
                    }

               }
          }
     }
}
 
