
.nfd-interface-interface-skeleton__adminbar{

    .nfd-admin-bar-sitegen{
        padding: 5px;
        background-color: #23282d;  // Dark grayish background
        display: flex;
        justify-content: space-between;
        
        
        .nfd-admin-bar-logo {
            color: #a0a5aa;  // Logo color
            font-size: 20px;
            font-weight: bold;
        }
        
        .nfd-admin-bar-greeting {
            color: #a0a5aa;  // Text color
            font-size: 16px;
        }
    }
}