.nfd-interface-interface-skeleton__adminbar{
	height: 60px;

}

.nfd-admin-bar-site-gen{
	position:fixed;
	top:0;
	height:40px;
	width: 100%;


	.nfd-admin-top-bar {
		background-color: #23282d;  // Dark grayish background
		padding: 10px 20px;
		display: flex;
		align-items: center;
	}
	
	.nfd-admin-bar-logo {
		color: #a0a5aa;  // Logo color
		font-size: 20px;
		font-weight: bold;
	}
	
	.nfd-admin-bar-greeting {
		color: #a0a5aa;  // Text color
		font-size: 16px;
	}
}
