.theme-fonts-preview {
	flex: 1;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: var(--nfd-onboarding-light-gray-5);
	padding-top: 20px;

	&__title-bar {
		width: 70%;
		height: 15px;
		display: flex;
		align-items: center;
		background-color: var(--nfd-onboarding-light-gray-8);
		justify-content: space-between;
		border: 1px solid transparent;

		&__browser {
			display: flex;
			align-items: center;
			justify-content: center;

			&__dot {
				background-color: #989ea7;
				width: 8px;
				margin: 3px;
				height: 8px;
				border-radius: 50%;
				display: inline-block;
			}
		}
	}

}
