.nfd-onboarding-header {

	&--dark {
		background-color: var(--nfd-onboarding-editor-header-background);
	}

	&--sitegen {

		&__editor {

			&__start {

				&__regenerate {
					margin-left: 20px;
					height: 36px;
					color: var(--nfd-onboarding-primary);
					background-color: var(--nfd-onboarding-button-background);
					border-radius: 8px;
					cursor: pointer;

					&__icon {
						background-image: var(--sitegen-regenerate);
						width: 16px;
						height: 18px;
					}
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-evenly;
					width: 130px;

					&__disabled {
						cursor: disabled;
					}
				}
			}

			&__center {

				&__dropdown {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;

					color: var(--nfd-onboarding-primary);

					&__favorite-icon {
						background-image: var(--sitegen-favorite);
						height: 21px;
						width: 20px;
						margin-right: 15px;
						cursor: pointer;

						&__fill {
							background-image: var(--sitegen-favorite-filled);
						}
					}

					&__info {
						display: flex;
						flex-direction: row;
						align-items: center;
						cursor: pointer;

						&__text {
							font-size: 18px;
							margin-right: 15px;
						}

						&__down-icon {
							fill: var(--nfd-onboarding-primary);
							width: 20px;
							height: 20px;
						}
					}

					&__content {

						&__rename,
						&__view-all {
							height: 40px;
							padding: 0 9px 0 9px;
							width: 240px;
							color: var(--nfd-onboarding-secondary);
						}

						&__view-all {
							border-top: 1px solid var(--nfd-onboarding-secondary);
						}

						&__disabled {
							cursor: disabled;
						}
					}
				}
			}

			&__end {
				display: flex;
				flex-direction: row;

				&__customize-button {
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					align-items: center;
					cursor: pointer;
					background-color: var(--nfd-onboarding-button-background);
					color: var(--nfd-onboarding-primary);
					padding: 0 12px 0 12px;
					margin-right: 16px;
					height: 36px;
					border-radius: 8px;

					&__icon {
						background-image: var(--sitegen-settings);
						height: 16px;
						width: 16px;
						margin-right: 8px;
					}

					&__disabled {
						cursor: disabled;
					}
				}

				&__save-button {
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					align-items: center;
					cursor: pointer;
					background-color: var(--nfd-onboarding-primary);
					color: var(--nfd-onboarding-secondary);
					padding: 0 12px 0 12px;
					height: 36px;
					border-radius: 8px;
				}
			}
		}
	}
}
