.nfd-onboarding-sidebar-learn-more__get-started-welcome {

	&--content {
		border-bottom: none;

		&__links {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&__experts {
				justify-content: center;
				align-items: center;
				width: 100%;
				background: #3575d2;
				color: white;
				height: 36px;
				border: none;
				margin: 10px 0;
			}

			&__full-service {
				justify-content: center;
				align-items: center;
				width: 100%;
				background: white;
				color: #3575d2;
				border: 1px solid #3575d2;
				height: 36px;
				border-radius: 2px;
				margin: 10px 0;
			}

			&__support {
				border-radius: 2px;
				text-decoration: none;
				color: #3575d2;
				margin: 10px 0;
			}
		}
	}
}
