.nfd-onboarding-button {

	&--site-gen-next {
		height: 50px;
		display: flex;
		cursor: pointer;
		padding: 0 16px;
		padding-left: 22px;
		text-align: center;
		border-radius: 8px;
		align-items: center;
		justify-content: center;
		color: var(--nfd-onboarding-secondary);
		background-color: var(--nfd-onboarding-primary);
		font-size: clamp(0.5rem, 0.3864rem + 0.5682vw, 1.75rem);

		@media (min-width: 2600px ) {
			height: 76px;
		}

		@media (max-width: #{ ($break-small) }) {
			margin-top: 10px;
			font-size: 16px;
		}

		&--disabled {
			background-color: rgba(var(--nfd-onboarding-primary-rgb), 0.6) !important;

			&:hover {
				cursor: not-allowed;
				color: var(--nfd-onboarding-secondary);
			}
		}

		&--disabled &--text {
			opacity: 0.5;
		}

		&--disabled &--icon {
			opacity: 0.5;
		}
	}

	&--icon {
		fill: var(--nfd-onboarding-secondary);
	}
}
