.checkbox-list {
    display: flex;
    align-items: center;
    justify-content: center;

    &-col {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}