.nfd-onboarding-step {

	&--site-gen {

		&__site-logo {

			&__container {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 600px;

				&__buttons {
					width: 108%;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-end;
					padding: 16px;

					&__skip {
						font-size: clamp(0.5rem, 0.4091rem + 0.4545vw, 1.5rem);
						font-style: normal;
						font-weight: 510;
						margin-right: 24px;

						&:hover {
							text-decoration: underline;
							color: var(--nfd-onboarding-primary);
						}
					}
				}

			}
		}
	}
}
