.nfd-onboarding-overview {
	width: 100%;
	max-width: 960px;
	background-color: var(--nfd-onboarding-base);
	padding: 20px;

	&__header {
		display: flex;
		align-items: center;
		column-gap: 1rem;

		&-icon {
			display: flex;
			place-items: center;

			svg {
				fill: var(--nfd-onboarding-primary);
			}
		}

		&-heading {
			margin: 0 0 6px 0;
			color: var(--nfd-onboarding-contrast);
		}

		&-subheading {
			color: var(--nfd-onboarding-contrast);
		}
	}

	&__tab-panel {
		width: 90%;
		padding-bottom: 40px;
		color: var(--nfd-onboarding-contrast);
	}
}

.nfd-step-card-subheading {
	display: flex;
	justify-content: space-around;
}

.components-tab-panel__tabs {
	justify-content: space-around;

	@media screen and (max-width: 480px) {
		width: 100%;
	}
}

.components-tab-panel__tabs > .components-button:focus:not(:disabled),
.components-tab-panel__tabs > .components-button.is-pressed:focus:not(:disabled) {
	box-shadow: inset 0 0 - ($border-width-tab - 0.5) 0 0 var(--wp-admin-theme-color);
}

.components-tab-panel__tabs-item {
	justify-content: center;
	border-bottom: 1px solid var(--nfd-onboarding-light-gray-8);
	width: 100%;
	font-size: clamp(0.55rem, 1vw + 0.3rem, 1rem);
	line-height: 1.5;

	&.is-active {
		color: var(--wp-admin-theme-color);
		box-shadow: inset 0 0 - ($border-width-tab - 0.5) 0 0 var(--wp-admin-theme-color);
	}

	&.is-not-active {
		box-shadow: none !important;
	}
}

.tab-data {
	width: 100%;
	padding-top: 40px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
}

.tab-text {
	padding-right: 10px;
	font-size: clamp(0.88rem, 0.45rem + 0.76vw, 1.13rem);
	line-height: 1.6;
}

.tab-img {
	background-color: var(--nfd-onboarding-tertiary);
	overflow: hidden;
}

%tab-img-base {
	background-size: contain;
	background-repeat: no-repeat;
	height: 228px;
	width: clamp(180px, 50vw, 400px);
}

.content-img {

	@extend %tab-img-base;
	background-image: var(--get-started-content-img);
}

.features-img {

	@extend %tab-img-base;
	background-image: var(--get-started-features-img);
}

.design-img {

	@extend %tab-img-base;
	background-image: var(--get-started-design-img);
}

.welcome-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: clamp(560px, 59vh, 800px);
	width: 100%;
	padding-bottom: 10px;
}

@media screen and ( max-width: #{ ($break-medium)} ) {

	.tab-data {
		flex-direction: column-reverse;
		align-items: center;
	}

	.content-text {
		text-align: center;
		width: 100%;
		min-height: 10px;
	}

	.content-img,
	.design-img,
	.features-img {
		max-height: 100px;
	}
}
