.theme-name {
	display: flex;
	flex-direction: row;
	align-items: center;

	svg {
		margin-left: 8px;
	}
}

.nfd-onboarding-sitegen-theme-marker-filled {
	fill: #1d2327;
}

.theme.active {

	.nfd-onboarding-sitegen-theme-marker-filled {
		fill: none;
	}
}

.nfd-onboarding-sitegen-theme-marker-title {
	margin-left: 8px;
	width: 120px;
	text-overflow: ellipsis;
	overflow: hidden;
}
