/*COLOR VARIABLES*/
$white-offset: rgb(224, 224, 224);
$main-color-dark: var(--wp-admin-theme-color);
$main-color-light: var(--nfd-onboarding-white);
$main-color: var(--nfd-onboarding-highlighted--rgb);
$main-border-main: var(--nfd-onboarding-primary-alt);

.checkbox-item {
    margin: 12px;
    padding: 16px;
    border-radius: 2px;
    background: $main-color-light;
    border: 1px solid $white-offset;
    width: clamp(15rem, 25vw, 35rem);
    box-shadow: 0px 2px 8px 2px rgba(204, 204, 204, 0.175295);

    &-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;    
    }

    &-checkbox{
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__contents{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &-icon{
            width: 45px;
            height: 45px;
            display: flex;
            margin-right: 16px;
            border-radius: 50%;
            align-items: center;
            background: #F0F0F0;
            justify-content: center;
            
            &--selected {
                background: $main-color-dark !important;
            }

            &--shown {
                background: #F0F0F0;
            }
        }

        &-text {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            &-title{
                color: #0D0D0D;
                line-height: 18px;
                margin-bottom: 6px;
                font-size: clamp(0.9rem, 2vw, 1rem);
                
                &--selected {
                    color: $main-color-dark;
                }
            }

            &-subtitle {
                color: #343434;
                font-weight: 200;
                line-height: 18px;
                font-size: clamp(0.82rem, 2vw, 0.9rem);
            }
        }

        &-help {
            cursor: pointer;
        }
        
    }

    &--selected {
        background: rgba($main-color, 0.2);
        border: 1px solid rgba($main-color, 0.6);
        box-shadow: 0px 2px 8px 2px rgba($white-offset, 0.8);
    }

    &--shown {
        border-radius: 2px;
        background: rgba($white-offset, 0.2);
        border: 1px solid rgba($main-color, 0.1);
        box-shadow: 0px 11px 8px -3px rgba($main-color, 0.20);
    }

    &__desc {
        margin-top: 20px;
        font-style: italic;
        font-size: clamp(0.82rem, 2vw, 0.9rem);
    }
}