.checkbox-item {
    width: 23vw;
    margin: 12px;
    padding: 16px;
    min-width: 300px;
    border-radius: 2px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 2px 8px 2px rgba(204, 204, 204, 0.175295);

    &-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;    
    }

    &-checkbox{
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__contents{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &-icon{
            width: 45px;
            height: 45px;
            display: flex;
            margin-right: 16px;
            border-radius: 50%;
            align-items: center;
            background: #1C5CBA;
            justify-content: center;

            &--shown {
                background: #F0F0F0;
            }
        }

        &-text {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            &-title{
                font-size: 16px;
                color: #1C5CBA;
                line-height: 18px;
                margin-bottom: 6px;
            }

            &-subtitle {
                font-size: 14px;
                font-weight: 200;
                line-height: 18px;
                color: #343434;
            }
        }

        &-help {
        }
        
    }

    &--selected {
        border: 1px solid #97C8FA;
        background: rgba(132, 192, 252, 0.2);
        box-shadow: 0px 2px 8px 2px rgba(204, 204, 204, 0.175295);
    }

    &--shown {
        z-index: 9999;
        border-radius: 2px;
        background: #E2E9F4;
        border: 1px solid #CADFE7;
        box-shadow: 0px 11px 8px -3px rgba(88, 124, 175, 0.37);
    }

    &__desc {
        font-size: 14px;
        margin-top: 20px;
        font-style: italic;
    }
}