.checkbox-item {
    width: 20vw;
    margin: 10px;
    padding: 10px;
    display: flex;
    min-width: 300px;
    border-radius: 2px;
    align-items: center;
    border: 1px solid #97C8FA;
    justify-content: flex-start;
    background: rgba(132, 192, 252, 0.2);
    box-shadow: 0px 2px 8px 2px rgba(204, 204, 204, 0.175295);

    &-checkbox{
        width: 100%;
    }

    &__contents{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &-icon{

        }

        &-text {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            p {
                margin: 0px;
                padding: 0px;
            }

            &-title{
                font-size: 15px;
                line-height: 18px;
                color: #1C5CBA;
            }

            &-subtitle {
                font-weight: 300;
                font-size: 13px;
                line-height: 18px;
                color: #343434;
            }
        }

        &-help {

        }
    }
}