$light-grey : #a0a5aa;

.nfd-onboarding-header {

	&__admin-bar {
		height: 32px;
		background-color: var(--nfd-onboarding-admin-bar-background);
		width: 100%;
		color: var(--nfd-onboarding-admin-bar-color);
		margin: 0;
		padding: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;

		&__wplogo {
			color: var(--nfd-onboarding-white);
			display: flex;
			font-size: 16px;
			font-weight: 510;
			align-items: center;

			svg {
				color: $light-grey;
				fill: $light-grey;
			}

			span {
				margin-left: 15px;
			}
		}

		&__profile {
			display: flex;
			align-items: center;

			&__greeting {
				color: var(--nfd-onboarding-white);
				font-size: 16px;
				font-weight: 510;
				margin-right: 5px;
			}

			&__avatar {
				height: 20px;
				width: 20px;
				display: inline-block;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}
}
