h1.store-address-title {
  color: var(--wp-admin-theme-color-darker-10);
}
div.store-address-form {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 24px;
  padding: 88px 0 76px;
	label {
		display: block;
    font-size: 18px;
    line-height: 1;
    padding-bottom: 13px;
	}
	input, select {
    padding-left: 17px;
    width: 400px;
		height: 48px;
		border: 1px solid #d6d6d6;
		border-radius: 2px;
	}
}
