.ai-heading {

	width: 100%;
	display: flex;
	margin: 16px;
	align-items: center;

	&--icon {
		width: 50px;
		margin-right: 4px;
		height: 50px;
		background-size: 200%;
		background-position: center;
		background-repeat: no-repeat;
		background-image: var(--sitegen-ai-animation);
	}

	&--title {
		margin: 10px;
		line-height: 1.5;
		font-weight: 500;
		color: var(--nfd-onboarding-primary);
		font-size: clamp(1.2rem, 1.1rem + 0.273vw, 2.5rem);
	}
}
