.nfd-onboarding-loader {

	&--spinner {
		border-radius: 50%;
		width: 10em;
		height: 10em;
		font-size: 8px;
		border-top: 1.1em solid rgba(var(--nfd-onboarding-primary-rgb), 0.2);
		border-right: 1.1em solid rgba(var(--nfd-onboarding-primary-rgb), 0.2);
		border-bottom: 1.1em solid rgba(var(--nfd-onboarding-primary-rgb), 0.2);
		border-left: 1.1em solid var(--nfd-onboarding-primary);
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-animation: spin 1.1s infinite linear;
		animation: spin 1.1s infinite linear;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&::after {
		border-radius: 50%;
		width: 10em;
		height: 10em;
	}
}

