.nfd-onboarding-large-card {
	&.site-type-card {
		height: fit-content;
	}
}
.nfd-setup-primary {
	&-categories {
			width: 40vw;
			text-align: center;
	
			.nfd-card-category {
				&.chosenPrimaryCategory {
					background-color: var(--wp-admin-theme-color-darker-10);
					color: var(--nfd-onboarding-light);
				}
	
				.nfd-card-category-wrapper {
					display: inline-flex;
					align-items: center;
				}
			}
	
			.icon {
				width: 25px;
				height: 24px;
				display: inline-block;
				background-repeat: no-repeat;
				background-position: center;
			}
	}

	&-second {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;

		&-top {
		}

		&-bottom {
			margin-top: 20px;
		}
	}
}

.nfd-card-category {
	color: var(--nfd-onboarding-black);
	padding: 1rem;
	background-color: var(--nfd-onboarding-light-gray-3);
	background-position: center;
	display: inline-flex;
	margin: auto 0rem 1rem 1rem;
	border-radius: 2.5rem;
	height: 10px;
	cursor: pointer;
	align-items: center;
}

.blackText {
	color: var(--nfd-onboarding-black);
	font-size: 1rem;
	font-weight: 700;
	margin-top: 2rem;
	text-align: center;
}

.tellUsInput {
	width: 30vw;
	margin: 0 1rem 1rem;
	height: 4vh;

	@media (max-width: #{($break-medium - 1)}) {
		width: 40vw;
	}
}
