.nfd-card-category {
	color: var(--nfd-onboarding-black);
	padding: 1rem;
	background-color: var(--nfd-onboarding-base-gray);
	background-position: center;
	display: inline-flex;
	margin: auto 0 1rem 1rem;
	border-radius: 2.5rem;
	cursor: pointer;
	align-items: center;
}

.nfd-setup-primary {

	&-categories {
		margin-top: 3rem;
		margin-bottom: 1rem;
		width: 40vw;
		text-align: center;
	}

	&-custom {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;

		&__tellus {

			&-text {
				color: var(--nfd-onboarding-black);
				font-size: 1rem;
				font-weight: 700;
				text-align: center;
				padding: 10px;
			}

			&-input {
				width: 30vw;
				font-size: 16px;
				font-weight: 300;
				margin: 0 1rem 1.5rem 1rem;
				padding: 8px 16px !important;

				&::placeholder {
					font-size: 16px;
				}

				@media (max-width: #{($break-medium - 1)}) {
					width: 40vw;
				}
			}
		}

	}
}

.nfd-card-pri-category {
	cursor: pointer;
	align-items: center;
	padding: 0.7rem 1rem;
	display: inline-flex;
	border-radius: 2.5rem;
	margin: auto 0.2rem 1.15rem 1rem;
	background-position: center;
	color: var(--nfd-onboarding-black);
	background-color: var(--nfd-onboarding-light-gray-3);

	&.chosenPrimaryCategory {
		background-color: var(--wp-admin-theme-color-darker-10);
		color: var(--nfd-onboarding-base);
	}

	&-wrapper {
		display: inline-flex;
		align-items: center;

		&__icon {
			width: 24px;
			height: 24px;
			transform: scale(0.6);
			display: inline-block;
			background-size: 24px 24px;
			background-repeat: no-repeat;
			background-position: center;

			&-selected {
				filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(162deg) brightness(103%) contrast(101%);
			}
		}
	}

	&:hover {
		transition: all 0.2s ease-in;
		background-color: rgba($color: var(--wp-admin-theme-color-darker-10--rgb), $alpha: 0.7);
		color: var(--nfd-onboarding-base);

		.nfd-card-pri-category-wrapper-icon {
			transition: all 0.2s ease-in;
			filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(162deg) brightness(103%) contrast(101%);
		}
	}
}

