$white: #FFFFFF;
$black: #000000;
$browser-dark: #CACACA;
$browser-light: #F2F2F2;
$link-browser-color: #007017;
$title-browser-color: #3858E9;

.mini-preview {
    margin: 0px 0px 10px 0px;
    font-weight: 500;
    font-size: 1rem;
}

.browser-container {
    width: 100%;
    background-color: $browser-dark;
}

.browser-icon{
    width: 24px;
    height: 24px;
    padding: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: padding-box;
}

.browser-dot {
    width: 12px;
    height: 12px;
    margin: 4px;
    border-radius: 50%;
    display: inline-block;

    @media (max-width: 400px) {
        width: 10px;
        margin: 3px;
        height: 10px;
        margin-top: 5px;
    }
}

.browser-content {
    padding: 10px;
    word-break: break-all;
    background-color: $white;

    &_top-row{

        margin-top: 8px;

        &-name{
            cursor: pointer;
            font-weight: 600;
            font-size: 1.2rem;
            margin: 0px 0px 6px 0px;
            color: $title-browser-color;
        }

        &-link {
            margin: 0px;
            font-size: 1rem;
            cursor: pointer;
            color: $link-browser-color;
        }
    }
    &_desc{
        color: $black;
        font-weight: 400;
        font-size: 0.8rem;
        margin: 16px 0px 0px 0px;
    }
    &_social{
        display: flex;
        margin-top: 4px;
        justify-content: flex-start;

        &_icon{
            width: 24px;
            height: 24px;
            text-align: center;
            padding-right: 6px;
            background-position: center;
            background-repeat: no-repeat;
            background-clip: padding-box;
        }
    }
}

.browser-row {

    &-title {
        display: flex;
        align-items: flex-start;
        padding: 6px 4px 0px 4px;
        background-color: $browser-dark;

        &_buttons{
            padding: 2px 8px 0px 2px;
        }

        &_bar {
            width: 180px;
            height: 30px;
            display: flex;
            padding-left: 12px;
            flex-direction: row;
            align-items: center;
            border-radius: 12px 12px 0px 0px;
            background-color: $browser-light;
            clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);

            &-text{
                padding-left: 6px;
            }
        }
    }

    &-search {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $browser-light;

        &__icons {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__search-box {
            flex: 10;
            padding: 5px;

            &_input {
                width: 100%;
                font-size: 0.8rem;
                border: none !important;
                background-color: $white;
            }
        }

        &__more {
            flex: 1;
        }
    }
}