@media (max-width: #{ ($break-medium - 1) }) {
	.sm\:col-layout {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: min(1.5em, 24px);
	}
}

@media (min-width: #{ ($break-medium) }) {
	.md\:row-layout {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.ecommerce-step {
	@media (max-width: 2200px) {
		height: fit-content;
	}
}

.onboarding-ecommerce-step {
	.nfd-nav-card-button {
		min-height: 4vh;
	}
}

.nfd-ecommerce-address-step {
	padding: 1rem 0;
	label[data-required="true"]::after {
		content: " *";
	}

	div.store-address-form {
		display: grid;
		gap: min(1.5em, 24px);
		padding: 1em 0 4em;
		margin: 0 1em 0 1em;
		label {
			display: block;
			font-weight: 500;
			font-size: 16px;
			line-height: 1;
			padding-bottom: 13px;
			&[aria-required="true"]::after {
				content: " *";
			}
		}
		input,
		select {
			padding-left: 17px;
			min-width: 400px;
			max-width: 100%;
			width: 100%;
			height: 48px;
			border: 1px solid #d6d6d6;
			border-radius: 2px;
			font-size: 13px;
		}

		div[data-name="full-address"] {
			select,
			input {
				min-width: 180px;
			}
			&[data-state-empty="false"] {
				grid-template-columns: repeat(3, auto);
				@media (max-width: #{ ($break-xlarge) }) {
					input,
					select {
						min-width: 100px;
					}
				}
			}
			&[data-state-empty="true"] {
				grid-template-columns: repeat(2, auto);
			}
			display: grid;
			gap: 24px 32px;
			div[data-name="state"] {
				grid-column: 2;
			}

			@media (max-width: #{ ($break-large) }) {
				&[data-state-empty] {
					grid-template-columns: auto;
				}
				div[data-name="state"] {
					grid-column: 1;
				}
			}
		}

		@media (max-width: #{ ($break-large) }) {
			grid-template-columns: auto;
			input,
			select {
				min-width: 100%;
				width: 100%;
			}
		}
	}
}

div.onboarding-ecommerce-step {
	color: var(--nfd-onboarding-black);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	gap: 1em;

	h2.nfd-step-card-heading {
		color: var(--wp-admin-theme-color-darker-10);
	}

	h3.nfd-step-card-subheading {
		font-weight: 500;
		color: var(--nfd-onboarding-black);
	}
}

div.step-product-numbers:nth-child(3) .components-v-stack {
	@media (min-width: #{ ($break-mobile)}) {
		flex-direction: row !important;
	}
}

div.onboarding-product-step {
	width: 50vw;

	@media only screen and (min-width: 1921px) {
		width: 35vw;
	}
	.nfd-card-need-help-tag {
		padding: 20px 0 0;
	}

	div.nfd-product-step-options {
		display: grid;
		grid-template-columns: calc((50vw - 15px) / 2) calc((50vw - 15px) / 2);
		gap: 15px;

		@media (max-width: #{ ($break-mobile)}) {
			grid-template-columns: 1fr;
			gap: 2px;
		}

		@media only screen and (min-width: 1921px) {
			grid-template-columns: calc((35vw - 15px) / 2) calc((35vw - 15px) / 2);
		}
	}

	.components-checkbox-control {
		padding: 16px;
		background-color: #f0f0f0;

		@media (max-width: #{ ($break-small)}),
		(max-height: #{ ($break-small)}) {
			padding: 5px;
		}

		.components-base-control__field {
			margin-bottom: 0;
		}
	}

	.step-product-numbers {
		display: grid;
		width: 100%;
		margin: 0.5em 0;

		& > * {
			align-self: center;
		}

		@media (min-width: #{ ($break-xlarge + 100)}) {
			gap: 1em;
			grid-template-columns: auto max-content;

			& > * {
				align-self: baseline;
			}

			.components-radio-control {
				margin-left: auto;
			}
		}

		.components-radio-control {
			align-items: normal;

			.components-base-control__field {
				display: flex;

				@media (max-width: #{ ($break-xlarge)}) {
					flex-wrap: wrap;
				}
			}

			.components-radio-control__option {
				margin: 1em 1em 1em 0;

				@media (min-width: #{ ($break-xlarge + 100)}) {
					margin: 0 1em 0 0;
				}
			}

			label {
				padding: 10px;
				border: 1px solid #dbdbdb;
				cursor: pointer;
			}

			input:checked + label {
				color: var(--nfd-onboarding-white);
				background: var(--wp-admin-theme-color-darker-10);
			}
		}
	}
}

.radio-control-tax-step {
	label {
		padding: 10px 100px 10px 20px;
	}

	@media (max-width: #{ ($break-medium - 1) }) {
		label {
			padding-right: 15px;
		}
	}

	@media (max-width: 480px) {
		label {
			padding: clamp(10px, 1.5vh, 15px) clamp(10px, 5%, 13px)
				clamp(10px, 5%, 13px);
			width: unset;
			height: fit-content;
			line-height: 1.5;
			white-space: normal;
		}
	}
}
