.nfd-onboarding-experience-step {
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;

	&-tabs label {
		border: 1px solid var(--nfd-onboarding-base-gray);
		display: flex;
		justify-content: flex-start;
		padding: 10px 190px 10px 15px;
		color: var(--nfd-onboarding-black);
		background: var(--nfd-onboarding-base-gray);
		font-weight: 350;
		font-size: clamp(1rem, 0.92rem + 0.38vw, 1.875rem);
		line-height: 1.5;
		margin: 5px;
		white-space: nowrap;

		@media (max-width: #{ ($break-medium) - 1 }) {
			padding-right: 100px;
		}

	}

	&-tabs input:checked + label {
		color: var(--nfd-onboarding-white);
		background: var(--wp-admin-theme-color-darker-10);
		border: none;
	}

	.components-radio-control {

		&__input input {
			display: none !important;
		}
		margin: 32px 0 48px;
		align-items: center;
	}
}
