.nfd-nav-card-button {
	color: var(--nfd-onboarding-white);
	background-color: var(--wp-admin-theme-color-darker-10);
	padding: 16px;
	width: 90%;
	font-size: clamp(1rem, 0.91rem + 0.43vw, 2rem);
	font-weight: 500;
	border-radius: 4px;
	border: none;
	outline: 1px solid transparent;
}
