.nfd-onboarding-sidebar-customize--color-palette-icon {

	&__container {
		text-align: center;

		&__icon {
			box-sizing: border-box;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			cursor: pointer;
			box-shadow: "none";
		}

		&__icon__selected {
			box-sizing: border-box;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			cursor: pointer;
			box-shadow: 0 0 0 2px #fff, 0 0 0 4px #035fef;
		}

		p {
			margin-top: 8px;
			color: #808080;
		}
	}

}
