.nfd-onboarding-sidebar-learn-more {

	&__get-started-welcome {

		&--content {
			border-bottom: none;

			&__heading {
				font-size: 14px;
				font-weight: 600;
				color: #1e1e1e;
				line-height: 20px;
			}

			&__description {
				line-height: 16px;
				font-size: 12px;
			}

			&__links {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				&__experts {
					background: #3575d2;
					color: white;
					height: 36px;
					border: none;
					box-shadow: none;
					margin: 10px 0;
					padding: 8px 12px 8px 12px;
				}

				&__full-service {
					background: white;
					color: #3575d2;
					border: 1px solid #3575d2;
					height: 36px;
					border-radius: 2px;
					padding: 8px 12px 8px 12px;
					margin: 10px 0;
				}

				&__support {
					border-radius: 2px;
					padding: 8px 12px 8px 12px;
					text-decoration: none;
					color: #3575d2;
					margin: 10px 0;
				}
			}
		}
	}
}
