.nfd-steps-card-large-button {
	color: white;
	background-color: var(--wp-admin-theme-color-darker-10);
	height: 8vh;
	width: 50vw;
	margin-bottom: 20px;
	font-size: clamp(0.8rem, 1.2rem, 1.5em);
	font-weight: 500;
	border-radius: 4px;
}
