/*COLOR VARIABLES*/
$main-color-dark: var(--nfd-onboarding-dark);
$main-color-light: var(--nfd-onboarding-white);
$main-border-light: var(--nfd-onboarding-border);
$main-border-main: var(--nfd-onboarding-primary-alt);

.homepage_preview {
	display: flex;
	padding-top: 60px;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	&__list {
		width: 60vw;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: #{ ($break-large) }) {
			width: 95vw;
			align-items: center;
			flex-direction: column;
		}

		&__item {
			flex: 1;
			width: 100%;
			margin: 24px;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;

			&__title-bar {
				width: 90%;
				height: 15px;
				display: flex;
				align-items: center;
				background-color: #e4e4e4;
				justify-content: space-between;
				border: 1px solid transparent;

				&__browser {
					display: flex;
					align-items: center;
					justify-content: center;

					&__dot {
						width: 8px;
						margin: 3px;
						height: 8px;
						border-radius: 50%;
						display: inline-block;
						background-color: #989ea7;
					}
				}

				&--selected {
					z-index: 2;
					width: 40px;
					height: 40px;
					display: flex;
					margin-right: -15px;
					border-radius: 50%;
					align-items: center;
					justify-content: center;
					background-clip: padding-box;
					background-color: $main-border-main;

					&__path {
						fill: $main-color-light;
						transform: scale(0.7);
					}
				}

				&--unselected {
					display: none;
				}
			}

			&__live-preview-container {
				position: relative;
				width: 90%;
				align-items: center;
				border: 1px solid #e3dfdf;


				&:hover {
					cursor: pointer;
				}

				.live-preview {

					&__container {

						&-custom {
							width: 100%;
							height: 45vh;
							min-height: 400px;
							// Enable Scrolling in Live Preview
							overflow-y: scroll;
						}

					}
				}
			}
		}
	}
}
