@media (max-width: #{ ($break-medium - 1) }) {
	.sm\:col-layout {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: min(1.5em, 24px);
	}
}

@media (min-width: #{ ($break-medium) }) {
	.md\:row-layout {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.ecommerce-step {
	@media (max-width: 2200px) {
		height: fit-content;
	}
}

.onboarding-ecommerce-step {
	.nfd-nav-card-button {
		min-height: 4vh;
	}
}

.nfd-ecommerce-address-step {
	padding: 1rem 0;

	label {
		display: block;
		font-size: 16px;
		font-weight: 500;
		line-height: 1;
		padding-bottom: 5px;
	}

	label[data-required="true"]::after {
		content: " *";
	}

	input,
	select {
		font-size: 1em;
		padding-left: 1.3em;
		border: 1px solid #d6d6d6;
		border-radius: 2px;
	}

	@media (max-width: #{ ($break-medium - 1) }) {

		input,
		select {
			min-height: 32px;
			width: 100%;
		}
	}

	@media (min-width: #{ ($break-medium) }) {

		label {
			font-size: 18px;
			padding-bottom: 13px;
		}

		input,
		select {
			font-size: 16px;
			min-height: 48px;
			width: 400px;
		}
	}

	@media (max-width: #{($break-medium - 1)}) {
		width: 70vw;
	}

	.store-address-form {
		display: grid;
		gap: min(1.5em, 24px);
		grid-template-columns: auto;
		padding: 1em 0;

		@media (max-width: #{ ($break-medium - 1) }) {
			.full-address-fields {
				width: 100%;

				input,
				select {
					width: 100%;
				}
			}
		}

		@media (min-width: #{ ($break-medium) }) {
			.full-address-fields {
				width: 80%;

				input,
				select {
					width: 150px;
				}
			}
		}

	}

	form.onboarding-ecommerce-step {
		height: 75%;
		font-size: 1em;

		.nfd-nav-card-button {
			width: 80%;
			margin: 0 10%;
		}
	}

	@media (min-width: #{($break-medium)}) {
		.onboarding-ecommerce-step {
			width: inherit;
		}

		div.onboarding-ecommerce-step {
			justify-content: space-around;
		}

		form.onboarding-ecommerce-step {
			height: unset;
		}

		.store-address-form {
			padding: 2em 10%;
		}
	}
}

h1.store-address-title {
	color: var(--wp-admin-theme-color-darker-10);
}

div.onboarding-ecommerce-step {
	color: var(--nfd-onboarding-black);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;

	h2.nfd-step-card-heading {
		color: var(--wp-admin-theme-color-darker-10);
	}

	h3.nfd-step-card-subheading {
		font-weight: 500;
		color: var(--nfd-onboarding-black);
	}
}

div.onboarding-product-step {
	width: 50vw;

	.nfd-card-need-help-tag {
		padding: 20px 0 0;
	}

	div.nfd-product-step-options {
		display: grid;
		grid-template-columns: calc((50vw - 15px) / 2) calc((50vw - 15px) / 2);
		gap: 15px;

		@media (max-width: #{ ($break-mobile)}) {
			grid-template-columns: repeat(1, 1fr);
			gap: 2px;
		}

		@media (max-height: #{ ($break-small)}) {
			grid-template-columns: repeat(3, 1fr);
			gap: 2px;
		}
	}

	.components-checkbox-control {
		padding: 16px;
		background-color: #F0F0F0;

		@media (max-width: #{ ($break-small)}),
		(max-height: #{ ($break-small)}) {
			padding: 5px;
		}

		.components-base-control__field {
			margin-bottom: 0;
		}
	}

	.step-product-numbers {
		display: grid;
		align-items: center;
		grid-auto-flow: row;
		gap: 1em;
		width: 100%;
		margin: 0.5em 0;

		@media (min-width: #{ ($break-xlarge + 100)}) {
			grid-auto-flow: column;

			.components-radio-control {
				margin-left: auto;
			}
		}

		.components-radio-control {

			.components-base-control__field {
				display: flex;

				@media (max-width: #{ ($break-xlarge)}) {
					flex-wrap: wrap;
				}
			}

			.components-radio-control__option {
				margin: 1em 1em 1em 0;

				@media (min-width: #{ ($break-xlarge + 100)}) {
					margin: 0 1em 0 0;
				}
			}


			label {
				padding: 10px;
				border: 1px solid #DBDBDB;
				cursor: pointer;
			}

			input:checked+label {
				color: var(--nfd-onboarding-white);
				background: var(--wp-admin-theme-color-darker-10);
			}
		}
	}
}

.radio-control-tax-step {
	.components-radio-control__option {
		margin-bottom: 1em;
	}

	label {
		padding: 10px 190px 10px 15px;
	}

	@media (max-width: 480px) {
		label {
			padding: 1.5vh 5% 5%;
			width: unset;
			line-height: 1.5;
			white-space: normal;
		}
	}
}