.loading-box {
    width: 200px;
    height: 25px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid #ededed;

    &__loader {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50px;
        background: linear-gradient(45deg, #b6b5ff, #ff9797);
        left: 0%;
    }

    &__loader {
        left: -100%;
        animation: load 3s linear infinite;
    }
}

// Loading Animation
@keyframes load {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}