.ai-heading {

	display: flex;
	margin-bottom: 20px;
	align-items: center;

	&--icon {
		width: 50px;
		margin: 4px;
		height: 50px;
		background-size: 200%;
		background-position: center;
		background-repeat: no-repeat;
		background-image: var(--ai-logo);
	}

	&--title {
		margin: 10px;
		line-height: 1.5;
		font-weight: 500;
		font-size: 1.4rem;

		&--dark {
			color: #fff;
		}
	}
}
