.nfd-sitegen-header {
	align-items: center;
	background-color: var(--nfd-onboarding-header-base);
	color: var(--nfd-onboarding-header-contrast);

	h2,
	h3,
	h4 {
		color: var(--nfd-onboarding-header-contrast);
	}
	display: flex;
	height: 60px;
	box-sizing: border-box;
	width: 100%;
	justify-content: space-between;

	padding-right: $grid-unit-20;

	body.is-fullscreen-mode & {
		padding-left: 25px;
		transition: padding-left 20ms linear;
		transition-delay: 80ms;

		@include reduce-motion("transition");
	}

	&__step-navigation {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		column-gap: $grid-unit-10;
	}
}

.navigation-buttons {
	font-size: 14px;
	line-height: 40px;
	align-items: center;
	letter-spacing: 0.8px;
	display: flex !important;
	border-radius: 8px !important;
	padding: 20px 14px !important;

	&_back {
		padding-right: 22px !important;
	}

	@media screen and (max-width: #{ ($break-medium) }) {
		font-size: 13px;
		padding: 15px 10px !important;
	}
}

.navigation-section {
	align-items: center;
	display: flex !important;

	&-left {
		display: flex;
		justify-content: flex-start;
	}

	&-center {
		display: flex;
		justify-content: center;
	}

	&-right {
		display: flex;
		justify-content: flex-end;
	}
}
