.nfd-sitegen-header {
	align-items: center;
	background-color: #1e2327;
	// background-color: var(--nfd-onboarding-header-base);
	// color: var(--nfd-onboarding-header-contrast);

	display: flex;
	height: 60px;
	box-sizing: border-box;
	width: 100%;
	justify-content: space-between;

	padding-right: $grid-unit-20;

	body.is-fullscreen-mode & {
		padding-left: 25px;
		transition: padding-left 20ms linear;
		transition-delay: 80ms;

		@include reduce-motion("transition");
	}

	&__step-navigation {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		column-gap: $grid-unit-10;
	}

	@media screen and (max-width: #{ ($break-medium) }) {
		font-size: 13px;
		padding: 15px 10px !important;
	}
}

.nfd-sitegen-header-navigation-buttons {
	font-size: 14px;
	line-height: 40px;
	align-items: center;
	display: flex !important;
	border-radius: 8px !important;
	margin: 1px 5px;
	background-color: #272d30 !important;
	color: #ffffff !important;
	border-color: #ffffff !important;

	&-version {
		font-size: 16px;
		letter-spacing: 1px;
	}

	@media screen and (max-width: #{ ($break-medium) }) {
		font-size: 13px;
		padding: 15px 10px !important;
	}
}

.nfd-sitegen-header-navigation-section {
	align-items: center;
	display: flex !important;

	&-left {
		display: flex;
		justify-content: flex-start;
	}

	&-center {
		display: flex;
		justify-content: center;
	}

	&-right {
		display: flex;
		justify-content: flex-end;
	}

	@media screen and (max-width: #{ ($break-medium) }) {
	}
}
