/*
Theme Name: {{ site_title }}
Author: {{ site_title }} & {{ brand_name }}
Author URI: {{ site_url }}
Description: A Custom WordPress Theme built for {{ site_title }} by {{ brand_name }} 
Version: 1.0.0
Template: {{ parent_theme_slug }}
Text Domain: {{ child_theme_slug }}
*/
