.nfd-onboarding-sidebar-learn-more {

	&__get-started-welcome {

		&--illustration {
			background-image: var(--nfd-onboarding-sidebar-learn-more-get-started-welcome-illustration);
			background-size: contain;
			background-repeat: no-repeat;
			height: 200px;
			width: 350px;
			background-position: center;
		}
	}
}
