.nfd-onboarding-image-uploader {

	&--with-text {
		width: 36vw;
		margin: 16px;
		border: 1.25px dashed var(--nfd-onboarding-site-logo-border);

		@media (max-width: #{ ($break-large) }) {
			width: 80vw;
			margin: 24px;
		}

		&--not-dashed {
			border: 1.25px solid rgba(var(--nfd-onboarding-primary-rgb), 0.5);
			align-items: stretch;

			&__dark {
				background-color: rgba(0, 0, 0, 0.7);

				.nfd-onboarding-image-uploader--with-text__site_logo__preview__details {
					color: #fff;
				}

				.nfd-onboarding-image-uploader--with-text__site_logo__preview__reset__button__icon {
					fill: #fff;
				}
			}

			&__light {
				background-color: rgba(255, 255, 255, 0.7);

				.nfd-onboarding-image-uploader--with-text__site_logo__preview__details {
					color: #000;
				}

				.nfd-onboarding-image-uploader--with-text__site_logo__preview__reset__button__icon {
					fill: #000;
				}
			}
		}
		border-radius: 8px;
		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&--on-drag {
			background-color: var(--nfd-onboarding-site-logo-on-drag);
		}

		&__heading {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			&__icon {
				background-image: var(--sitegen-image-upload-icon);
				width: 18px;
				height: 22px;
				background-repeat: no-repeat;
				background-size: contain;

				&--light {
					filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(162deg) brightness(103%) contrast(101%);
				}
			}

			&__text {
				color: var(--nfd-onboarding-primary);
				font-size: clamp(0.875rem, 0.7955rem + 0.3977vw, 1.75rem);
				margin-left: 15px;
				white-space: normal;
				line-height: 1;

				&__modal {
					background-color: transparent;
					border: 0;
					padding: 0;
					margin: 0;
					color: var(--nfd-onboarding-primary);
					font-size: clamp(0.875rem, 0.7955rem + 0.3977vw, 1.75rem);
					text-decoration: underline;
					cursor: pointer;

					&:hover {
						color: var(--wp-admin-theme-color);
					}
				}

				&__input {
					display: none;
				}
			}
		}

		&__subheading {
			display: flex;
			align-items: center;
			justify-content: center;

			&__text {
				color: var(--nfd-onboarding-primary);
				font-size: clamp(0.625rem, 0.5227rem + 0.5114vw, 1.75rem);
				white-space: normal;
				line-height: 1;
				text-align: center;
				margin-top: 5px;
				padding: 0;
			}
		}

		&__site_logo {

			&__preview {
				display: flex;
				flex-direction: row;

				&__wrapper {
					background-color: transparent;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 2px;
				}

				&__image {
					width: 130px;
					height: 100px;
					object-fit: contain;
					border-radius: 4px;
				}

				&__details {
					color: var(--nfd-onboarding-primary);
					display: flex;
					flex-direction: column;
					justify-content: center;
					margin-left: 18px;
					max-width: 26vw;

					@media (max-width: #{ ($break-large) }) {
						width: 60vw;
					}

					&__filename {
						margin: 0;
						margin-bottom: 8px;
						width: 28vw;
						font-size: clamp(0.75rem, 0.6591rem + 0.4545vw, 1.75rem);
					}

					&__filesize {
						font-size: clamp(0.5rem, 0.4091rem + 0.4545vw, 1.5rem);
						margin: 0;
					}
				}

				&__reset {
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;

					&__button {
						padding: 0;
						width: 40px;
						height: 40px;
						border: none;
						font-weight: 510;
						font-style: normal;
						background-color: transparent;
						color: var(--nfd-onboarding-primary);
						font-size: clamp(0.5rem, 0.4091rem + 0.4545vw, 1.5rem);

						&:hover {
							cursor: pointer;
							text-decoration: underline;
						}

						&__icon {
							fill: var(--nfd-onboarding-primary);
						}
					}
				}
			}
		}
	}
}
