.nfd-onboarding-step--site-gen__migration {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	font-weight: 500;
	padding: 0 15px;

	&__description {
		font-size: 18px;
		color: var(--nfd-onboarding-primary);
		margin: 50px 0;
		text-align: center;
	}

	&--container {
		display: flex;
		align-items: center;
		border-radius: 10px;
		gap: 24px;
		padding: 10px;
		background-color: var(--nfd-onboarding-card-background);
		justify-content: center;
		width: 436px;

		&__importtext {
			color: var(--nfd-onboarding-primary);
			font-size: 16px;
			font-weight: 500;
		}

		&__loader {
			border: 4px solid var(--nfd-onboarding-progress-bar-background);
			border-top: 4px solid var(--nfd-onboarding-progress-bar-fill);
			border-radius: 50%;
			width: 20px;
			height: 20px;
			animation: spin 2s linear infinite;
		}

		@keyframes spin {

			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}
	}

}
