/*COLOR VARIABLES*/
$main-color-dark: var(--nfd-onboarding-dark);
$main-color-light: var(--nfd-onboarding-white);
$main-color-grey: var(--nfd-onboarding-light-gray);
$main-color-light-rgb: var(--nfd-onboarding-white-rgb);
$main-border-light: var(--nfd-onboarding-border);
$main-border-main: var(--nfd-onboarding-primary-alt);

.live-preview--selectable-card {
	flex: 1;
	width: 100%;
	margin: 24px;
	display: flex;
	overflow: hidden;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	&__title-bar {
		width: 90%;
		height: 15px;
		display: flex;
		align-items: center;
		background-color: #e4e4e4;
		justify-content: space-between;
		border: 1px solid transparent;

		&__browser {
			display: flex;
			align-items: center;
			justify-content: center;

			&__dot {
                background-color: #989EA7;
				width: 8px;
				margin: 3px;
				height: 8px;
				border-radius: 50%;
				display: inline-block;
			}
		}

		&--selected {
			z-index: 2;
			width: 40px;
			height: 40px;
			display: flex;
			margin-right: -15px;
			border-radius: 50%;
			align-items: center;
			justify-content: center;
			background-clip: padding-box;
			background-color: $main-border-main;

			&__path {
				fill: $main-color-light;
				transform: scale(0.7);
			}
		}

		&--unselected {
			display: none;
		}
	}

	&__live-preview-container {
		position: relative;
		width: 90%;
		overflow: hidden;
		align-items: center;
		border: 1px solid #e3dfdf;

		.live-preview {

			&__container {
				&-custom {
					width: 100%;
					overflow: hidden;
					height: 300px;
				}
			}
		}

		&__overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: 0.5s ease;
			background-color: rgba(28, 92, 186);

			&__icon {
				fill: $main-color-light;
				font-size: 20px;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				text-align: center;
			}

			&:hover {
				cursor: pointer;
				opacity: 0.74;
			}
		}
	}
}

.is-skeleton {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	background-color: $main-color-grey;

	&--box {
		width: 90%;
		margin: 12px;
		background: #e2e2e2;

		&-header {
			height: 10%;
		}
		&-body-1 {
			height: 40%;
		}
		&-body-2 {
			height: 15%;
		}
		&-footer {
			height: 5%;
		}
	}	

	&--shimmer {
		z-index: 2;
		width: 100%;
		height: 100%;
		position: absolute;
		background-image: linear-gradient(90deg,
				rgba($main-color-light-rgb, 0) 0,
				rgba($main-color-light-rgb, 0.4) 20%,
				rgba($main-color-light-rgb, 0.7) 60%,
				$main-color-grey);
		animation: shine 0.5s linear infinite;
	}
}
