.nfd-sg-loader {

	margin: 8px;
	max-width: 90vw;
	padding: 16px 12px;
	border-radius: 12px;
	background-color: #1e2327;
	width: clamp(18.75rem, 22.6136rem + 5.6818vw, 31.25rem);
	box-shadow: 3px 3px 5px rgba($color: #000, $alpha: 0.2);

	&__title {
		color: #fff;
		line-height: 2;
		font-size: 18px;
		text-align: center;
		letter-spacing: 1.5px;
	}

	&__progress {
		display: flex;
		margin: 20px 60px;
		position: relative;
		align-items: center;
		justify-content: center;

		@media (max-width: #{ ($break-small) }) {
			margin: 20px 30px;
		}

		&_bg {
			height: 6px;
			width: 80%;
			border-radius: 6px;
			background-color: #353a40;
		}

		&_bar {
			top: 0;
			height: 6px;
			max-width: 80%;
			border-radius: 6px;
			position: absolute;
			background-color: #0060f0;
		}
	}

	&__status {
		color: #fff;
		line-height: 2;
		font-size: 14px;
		text-align: center;
		letter-spacing: 1.3px;
		animation: anim 3s ease-out infinite;
	}
}

@keyframes anim {

	0% {
		opacity: 0.1;
	}

	25% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0.1;
	}
}
