.nfd-sg-loader {

	margin: 8px;
	padding: 16px 12px;
	border-radius: 12px;
	background-color: #1e2327;
	box-shadow: 3px 3px 5px rgba($color: #000, $alpha: 0.2);

	&__title {
		color: #fff;
		line-height: 2;
		font-size: 18px;
		text-align: center;
		letter-spacing: 1.5px;
	}

	&__progress {
		height: 6px;
		max-width: 320px;
		margin: 12px 60px;
		border-radius: 6px;
		background-color: #0060F0;
	}
}
