.site-pages {
	display: flex;
	padding-top: 60px;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	.highlighted {
		background-color: var(--nfd-onboarding-light-gray-highlighted);
	}

	.not-highlighted {
		background-color: var(--nfd-onboarding-light-gray-3);
	}

	&__list {
		width: 50vw;
		height: 100%;
		column-count: 2;
		vertical-align: auto;

		@media (max-width: #{ ($break-xlarge) }) {
			width: 95vw;
			column-count: 2;
		}

		@media (max-width: #{ ($break-small) }) {
			width: 95vw;
			column-count: 1;
		}

		&__item {
			position: relative;
			flex: 1;
			width: 100%;
			margin: 24px;
			display: inline-block;
			border: 1px solid #e3dfdf;

			&__live-preview-container {
				position: relative;
				width: 100%;
				overflow: hidden;
				align-items: center;

				&:hover {
					cursor: pointer;
				}

				.live-preview {

					&__container {

						&-custom {
							width: 100%;
							overflow: hidden;
							height: 330px;
							overflow-y: auto;
						}
					}
				}
			}

			&__information {
				display: flex;
				flex-direction: column;
				width: 100%;
				justify-content: center;
				border-top: 1px solid #e3dfdf;
				border-bottom: none;
				height: 60px;

				&__title-question {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					margin: 0 20px;

					&__question {

						&__icon {
							width: 30px;
							height: 30px;
							fill: #666;

							&:hover {
								cursor: pointer;
								fill: var(--wp-admin-theme-color-darker-10);
							}
						}
					}
				}


			}

			&__description {

				&--container {
					position: absolute;
					left: -1px;
					top: 390px;
					z-index: 2;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					width: 100%;
					border-left: 1px solid rgba(var(--nfd-onboarding-highlighted--rgb), 0.1);
					border-right: 1px solid rgba(var(--nfd-onboarding-highlighted--rgb), 0.1);
					border-bottom: 1px solid rgba(var(--nfd-onboarding-highlighted--rgb), 0.1);
					border-top: none;
					margin: 0 0;
					height: 50px;
					transform-origin: top center;
					box-shadow: 0 11px 8px -3px rgba(var(--nfd-onboarding-highlighted--rgb), 0.37);

				}

				&--text {
					margin: 0 20px;
					font-style: italic;
				}
			}
		}
	}
}
