.checkbox-skeleton-item {
	height: 45px;
	margin: 12px;
	padding: 16px;
	margin-top: 16px;
	border: 0.5px solid var(--nfd-onboarding-light-gray-6);
	cursor: not-allowed;
	width: clamp(15rem, 25vw, 35rem);
	box-shadow: 0 2px 8px 2px rgba(204, 204, 204, 0.175295);
	background: var(--nfd-onboarding-light-gray-7);
	background-repeat: no-repeat;
	background-image: linear-gradient(to right, var(--nfd-onboarding-light-gray-7) 0%, var(--nfd-onboarding-light-gray) 20%, var(--nfd-onboarding-light-gray-7) 40%, var(--nfd-onboarding-light-gray-7) 100%);
}
