
$tooltip-background-color: rgba(0, 0, 0, 0.75);
$tooltip-margin: 35px;
$tooltip-arrow-size: 6px;

/* Wrapping */
.Tooltip-Wrapper {
	display: inline-block;
	position: relative;
	width: 100%;
}

/* Absolute positioning */
.Tooltip-Tip {
	position: absolute;
	border-radius: 4px;
	left: 50%;
	transform: translateX(-40%);
	padding: 6px;
	color: var(--nfd-onboarding-white);
	background: $tooltip-background-color;
	font-size: 12px;
	white-space: nowrap;
}

/* CSS border triangles */
.Tooltip-Tip::before {
	content: " ";
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: $tooltip-arrow-size;
	margin-left: calc($tooltip-arrow-size * -1);
}

/* Absolute positioning */
.Tooltip-Tip.top {
	top: calc($tooltip-margin * -1);
}

/* CSS border triangles */
.Tooltip-Tip.top::before {
	top: 100%;
	border-top-color: $tooltip-background-color;
}

/* Absolute positioning */
.Tooltip-Tip.right {
	left: calc(100% + $tooltip-margin);
	top: 50%;
	transform: translateX(0) translateY(-50%);
}

/* CSS border triangles */
.Tooltip-Tip.right::before {
	left: calc($tooltip-arrow-size * -1);
	top: 50%;
	transform: translateX(0) translateY(-50%);
	border-right-color: $tooltip-background-color;
}

/* Absolute positioning */
.Tooltip-Tip.bottom {
	bottom: calc($tooltip-margin * -1);
}

/* CSS border triangles */
.Tooltip-Tip.bottom::before {
	bottom: 100%;
	border-bottom-color: $tooltip-background-color;
}

/* Absolute positioning */
.Tooltip-Tip.left {
	left: auto;
	right: calc(100% + $tooltip-margin);
	top: 50%;
	transform: translateX(0) translateY(-50%);
}

/* CSS border triangles */
.Tooltip-Tip.left::before {
	left: auto;
	right: calc($tooltip-arrow-size * -2);
	top: 50%;
	transform: translateX(0) translateY(-50%);
	border-left-color: $tooltip-background-color;
}
