.nfd-onboarding-large-card {
	display: flex;
	max-width: 960px;
	width: 60vw;
	min-height: 60vh;
	background: var(--nfd-onboarding-base);
	position: relative;
	transform-style: preserve-3d;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 24px 32px;
	margin: 20px;

	@media (max-width: #{($break-medium - 1)}) {
		justify-items: center;
		align-items: center;
		padding: 16px;
		transform-style: flat;
	}

	&__logo {
		content: "";
		background: var(--nfd-onboarding-contrast-icon) no-repeat;
		width: 600px;
		min-height: 500px;
		transform: rotate(-14deg) translateZ(-1px);
		position: absolute;
		left: -15rem;
		top: 2rem;
	}

	@media (max-width: #{ ($break-medium - 1) }) {
		justify-items: center;
		align-items: center;
		transform-style: flat;
		padding: 20px;
		margin: 30px;

		&__logo {
			display: none;
		}
	}

	@media (min-width: #{ ($break-medium) }) and (max-width: 1300px) {

		&__logo {
			width: 400px;
			height: 350px;
			left: -10.5rem;
		}
	}

	@media (min-width: 2600px) {
		max-width: 100%;
		width: 50vw;
		min-height: 960px;

		&__logo {
			width: 860px;
			min-height: 600px;
			left: -19rem;
		}
	}

	&not::before {
		justify-content: center;
	}
}
