.nfd-onboarding-large-card {
	display: flex;
	width: 960px;
	min-height: 60vh;
	background: var(--nfd-onboarding-light);
	position: relative;
	transform-style: preserve-3d;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 24px 32px;
	margin: 50px 80px;

	&::before {
		content: "";
		background: var(--nfd-onboarding-dark-icon) no-repeat;
		width: 50%;
		height: 50%;
		transform: rotate(-14deg) translateZ(-1px);
		position: absolute;
		left: -8rem;
		top: 0rem;
	}

	@media (max-width: #{ ($break-medium - 1) }) {
		justify-items: center;
		align-items: center;
		transform-style: flat;
		padding: 20px;
		margin: 30px;
		&::before {
			display: none;
		}
	}

	@media (min-width: #{ ($break-medium) }) and (max-width: 1300px) {
		margin: 78px 100px;
		&::before {
			left:-6rem;
		}
	}

	@media (min-width: 2600px) {
		width: 50%;
		&::before {
			left:-20rem;
		}
	}

	&not::before {
		justify-content: center;
	}
}