.nfd-onboarding-large-card {
	display: flex;
	max-width: 960px;
	width: 60vw;
	min-height: 60vh;
	background: var(--nfd-onboarding-light);
	position: relative;
	transform-style: preserve-3d;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 24px 32px;

	@media (max-width: #{($break-medium - 1)}) {
		justify-items: center;
		align-items: center;
		padding: 16px;
		transform-style: flat;
	}

	&::before {
		content: "";
		background: var(--nfd-onboarding-dark-icon) no-repeat;
		width: 860px;
		min-height: 420px;
		transform: rotate(-14deg) translateZ(-1px);
		position: absolute;
		left: -13rem;
		top: 0rem;
		@media (max-width: #{ ($break-medium - 1) }) {
			display: none;
		}
	}

	&not::before {
		justify-content: center;
	}
}