.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 999; /* Ensure overlay is on top of everything */
}

/* .tour-container {
  position: relative;
} */

.tour-dialog {
  position: fixed;
  transform: translate(-50%, -50%);
  background-image: url(/src/OnboardingSPA/static/images/sitegen/ai_bg_low.png);
	background-repeat: no-repeat !important;
	background-size: cover !important;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000; /* Ensure tour dialog is above overlay */
  width: 360px;
  height: 350px;
  color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
  transition: transform 0.3s ease-in-out; /* Smooth transition for transform changes */
  justify-content: center;

  @media (max-width: 600px) {
    height: auto;
    width:80%; 
    margin-top:10% !important;
    margin-left:0px !important;
  } 

  @media (max-width: 400px) {
    height: auto;
    margin-top:10% !important;
    margin-left:0px !important;
    
  } 
}

.tour-dialog-big {
  width: 640px !important;
  height: 400px !important;

  @media (max-width: 600px) {
    height: auto !important;
    width: 80% !important; 
    margin-top:10% !important;
    margin-left:0px !important;
  } 
}

.tour-step-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;  
}

.tour-step-header__resetbutton {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  font-weight: 510;
  font-style: normal;
  background-color: transparent;
  color: #FFFFFF;
  font-size: clamp(0.5rem, 0.4091rem + 0.4545vw, 1.5rem);

  @media (max-width: 600px) {
    width: 20px;
  } 

}
.tour-step-header__resetbutton:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tour-step-header__resetbutton__icon {
  fill: #FFFFFF;
}

.tour-step-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tour-step-img{
  max-width: 100%; /* Ensure the image doesn't exceed container width */
  max-height: 100%; /* Ensure the image doesn't exceed container height */

  @media (max-width: 600px) {
    width: 60% !important; 
  } 
  @media (max-width: 400px) {
    width: 60% !important; 
  } 
}

.tour-step-title{
  font-size: 16px;
  font-weight: 590;
  /* line-height: 20px;
  letter-spacing: 0px; */
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;

 
}

.tour-step-title-big{
  font-size: 28px !important;
  font-weight: 274 !important;
  margin-top: 30px !important;

  @media (max-width: 400px) {
    font-size: 24px !important;
  } 

}

.tour-step-content {
  width: 305px;
  height: 54px;
  text-align: center;
  padding: 15px 25px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 400;
  color: #DCDFE4;
  line-height: 26px;

  @media (max-width: 400px) {
    padding: 0 !important;
    margin-left: 0 !important;
    font-size: 16px !important;
    width: 95% !important; 
    line-height: 24px !important;
    margin-top: 15px;
  } 

  @media (max-width: 600px) {
    padding: 0 !important;
    margin-left: 0 !important;
    font-size: 16px !important;
    width: 95% !important; 
    line-height: 24px !important;
    height: 100px;
  } 
}

.tour-step-content-big {

  width: 446px !important;
  padding: 10px 90px !important;
  margin-left: 5px;
  margin-top: 30px;
  font-size: 18px !important;
  line-height: 27px !important;
  color: #FFFFFF !important;

  @media (max-width: 400px) {
    padding: 0 !important;
    margin-left: 0 !important;
    font-size: 16px !important;
    width: 95% !important; 
    line-height: 24px !important;
    margin-top: 15px;
  } 

  @media (max-width: 600px) {
    padding: 0 !important;
    margin-left: 0 !important;
    font-size: 16px !important;
    width: 95% !important; 
    line-height: 24px !important;
    height: 100px;
  } 
}

.tour-step-footer{
  margin: 10px;
  height: 100px;
  display: flex;
	align-items: center;
  justify-content: space-between;

  @media (max-width: 400px) {
    height: 50px;
    margin: 10px 0px;
  } 
}

.tour-step-footer-box-info{
  display: flex;
}

.tour-step-footer-button button {
  /* margin-right: 10px; */
    height: 50px;
		display: inline-flex;
    justify-content: flex-end;
		cursor: pointer;
		padding: 0 16px;
		text-align: center;
		border-radius: 8px;
		align-items: center;
		/* justify-content: center; */
		color: #000000;
		background-color: #FFFFFF;
		font-size: 15px;
    font-weight: 510;
    
		@media (max-width: 600px) {
			/* margin-top: 10px; */
			font-size: 14px;
		}
  
}

.tour-step-progress-icon {
  width: 12px;
  height: 6.5px;
  margin: 3px;
  border-radius: 6px;
  animation: fadeIn 100ms ease-in;
  background: #9CA2A780;


  &--selected {
    animation: fadeIn 400ms ease-in-out;
    background-color: #FFFFFF;

    @media (prefers-reduced-motion) {
      animation: none !important;
    }
  }

  @media (prefers-reduced-motion) {
    animation: none !important;
  }
}

.tour-step-progress-icon-selected {
  width: 12px;
  height: 6.5px;
  margin: 3px;
  border-radius: 6px;
  animation: fadeIn 100ms ease-in;
  animation: fadeIn 400ms ease-in-out;
  background-color: #FFFFFF;
}




