$button-blue-background-color : #3575d2;
$button-blue-text-color : #fff;

.nfd-onboarding-button {

	&--blue {
		justify-content: center;
		align-items: center;
		width: 100%;
		background: $button-blue-background-color;
		color: $button-blue-text-color;
		height: 36px;
		border: none;
		margin: 10px 0;
	}
}
