.nfd-onboarding-button {

	&--next {
		background-color: var(--nfd-onboarding-primary);
		color: var(--nfd-onboarding-secondary);
		width: 80px;
		height: 50px;
		font-size: 15px;
		border-radius: 8px;
		padding: 16px;

		&--disabled {
			background-color: rgba(var(--nfd-onboarding-primary-rgb), 0.4);

			&:hover {
				cursor: not-allowed;
				color: var(--nfd-onboarding-secondary);
			}
		}

		@media (max-width: #{ ($break-small) }) {
			display: none;
		}
	}
}
