.nfd-sg-site-details {

	width: 40vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;


	@media (max-width: #{ ($break-large) }) {
		width: 80vw;
	}

	@media (max-width: #{ ($break-small) }) {
		margin-top: 30%;
		margin-bottom: 150px;
	}

	&-endrow {
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;

		@media (max-width: #{ ($break-small) }) {
			justify-content: center;
		}
	}

	&--next-btn {
		width: 100px;
		color: var(--nfd-onboarding-secondary);
		font-size: 1rem;
		padding-left: 24px;
		background-color: var(--nfd-onboarding-primary);
		transition: all 300ms ease-in-out;

		&:hover {
			box-shadow: 5px 5px rgba($color:  var(--nfd-onboarding-secondary), $alpha: 0.1);
		}
	}

	&-walkThrough {
		width: 100%;
		max-width: 431px;
		margin-top: 50px;
		margin-left: 40px;
		margin-left: auto;
		margin-right: auto;
		padding: 16px;
		border-radius: 12px;

		background: #1e2327;

		font-size: 15px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0;
		text-align: center;
		color: #fff;
		display: flex;

		@media (max-width: #{ ($break-small) }) {
			// justify-content: center;
			margin-left: 0;
			max-width: none;
			width: 90%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}


	}

	&-walkThrough span {
		font-size: 15px;
		font-weight: 510;
		line-height: 20px;
		letter-spacing: 0;
		margin-left: 5px;
		background: #1e2327;
		color: #fff;
		text-decoration: underline;
		border: none;
		cursor: pointer;
		text-align: center;
		transition: background-color 0.3s ease;
	}

	&-walkThrough span:hover {
		cursor: pointer !important;
	}

	&-businessname {
		margin-top: 20px;
	}

	&-rows > * {
		margin-top: 20px;
	}

	&-rows {
		margin-top: 30px;

		label {
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: var(--nfd-onboarding-primary);
		}

		input,
		textarea {
			max-width: 600px;
			width: 100%;
			height: 40px;
			border: soild #9ca2a7 1px;
			border-radius: 8px;
			background-color: rgba(var(--nfd-onboarding-secondary-rgb), 0.3);
			// opacity: 0.25;
			color: var(--nfd-onboarding-primary);
			font-weight: 400;
			font-size: 17px;
			line-height: 19px;
			box-sizing: border-box;

		}

		textarea {
			padding-top: 8px !important;
			height: 100px;
		}

		textarea::placeholder,
		input::placeholder {
			font-size: 17px;
			font-weight: 400;
			line-height: 19px;
			letter-spacing: 0;
			text-align: left;
			color: rgba(var(--nfd-onboarding-primary-rgb), 0.5);

		}

		button {
			min-width: 79px;
			height: 40px;
			padding: 8px, 24px;
			border-radius: 8px;
			margin-right: 8px;
			background-color: #00000040;
			// opacity: 0.25;
			border: 1px solid #9ca2a7;
			color: var(--nfd-onboarding-primary) !important;


			font-size: 18px;
			font-weight: 500;
			line-height: 19px;
			letter-spacing: 0;
			justify-content: center;
		}

		&-button-selected {
			font-size: 15px;
			font-style: italic;
			font-weight: 500;
			line-height: 19px;
			letter-spacing: 0;
			color: var(--nfd-onboarding-primary) !important;
			opacity: 0.6;

		}

		&-write-style {
			width: 292px;
			min-width: auto;
			height: 40px;
			padding: 8px, 24px;
			border-radius: 8px;
			margin-right: 8px;
			background-color: #00000040;
			// opacity: 0.25;
			border: 1px solid #9ca2a7;
			color: var(--nfd-onboarding-primary) !important;
			font-size: 15px !important;
			font-weight: 500;
			line-height: 19px;
			letter-spacing: 0;

			@media (max-width: #{ ($break-small) }) {
				width: 100% !important;
				margin: 0;
				margin-top: 10px !important;
			}
		}

		&-write-style:hover,
		button:hover {
			cursor: pointer;

		}

		@media (max-width: #{ ($break-small) }) {

			label,
			input,
			textarea,
			&-write-style {
				width: 100%; /* Use full width on small screens */
				padding: 8px, 24px;
				display: flex;
				max-width: none !important;
				min-width: none !important;
				flex-direction: column;
				align-items: center;
			}

			button {
				width: 45%;
				display: inline-flex;
				margin-right: 5% !important;
			}
		}
	}

	&-rows:last-child {
		margin-bottom: 20px;
	}
}
