.nfd-sg-site-details {

	width: 40vw;

	@media (max-width: #{ ($break-large) }) {
		width: 80vw;
	}

	@media (max-width: #{ ($break-small) }) {
		margin: 10px;
	}

	&-endrow {
		width: 100%;
		display: flex;
		justify-content: flex-end;

		@media (max-width: #{ ($break-small) }) {
			justify-content: center;
		}
	}

	&--next-btn {
		width: 100px;
		color: var(--nfd-onboarding-secondary);
		font-size: 1rem;
		padding-left: 24px;
		background-color: var(--nfd-onboarding-primary);
		transition: all 300ms ease-in-out;

		&:hover {
			box-shadow: 5px 5px rgba($color:  var(--nfd-onboarding-secondary), $alpha: 0.1);
		}
	}
}
